<!-- <footer class="flex flex-col gap-y-2 items-center justify-between sm-l:flex-row px-2 pb-1 pt-3 border-t mt-12 border-slate-500">
    <div class="font-overpass">
        <p>Copyright © 2024 UPES SPE Student Chapter</p>
    </div>
    <div class="flex gap-x-2">
        <a href="#">
            <img src="/assets/images/svg/facebook.svg" alt="">
        </a>
        <a href="#">
            <img src="/assets/images/svg/linkedin.svg" alt="">
        </a>
        <a href="#">
            <img src="/assets/images/svg/insta.svg" alt="">
        </a>
        <a href="#">
            <img src="/assets/images/svg/youtube.svg" alt="">
        </a>
    </div>
</footer> -->
<footer class="relative bg-slate-950 flex flex-col gap-y-12 mt-12" style="color: #9E9EA7;">
    <img src="/assets/images/footerImg.png" class="absolute top-0 left-0 w-full h-full object-cover" alt="">
    <div class="z-20 flex flex-wrap justify-start sm-l:justify-evenly md:justify-between px-4 gap-x-4 gap-y-8 pt-8 pr-12">
        <div class="flex flex-col gap-y-4 mx-6">
            <img src="/assets/images/logo-blue.png" class="h-20 w-auto object-contain object-left" alt="">
            <p>
                Lorem Ipsum is simply is dumi omy
                <br>is text Loremo Ipsum is simply is out
                <br>no our o dummy text
            </p>
            <div class="flex flex-col gap-y-3">
                <hr style="border-color: #303030; border-width: 1px; width: 110%;">
                <div class="flex gap-x-5 justify-center items-center">
                    <a href="#" class="hover:scale-105">
                        <img src="/assets/images/svg/facebook.svg" alt="">
                    </a>
                    <a href="#" class="hover:scale-105">
                        <img src="/assets/images/svg/linkedin.svg" alt="">
                    </a>
                    <a href="#" class="hover:scale-105">
                        <img src="/assets/images/svg/instagram.svg" alt="">
                    </a>
                    <a href="#" class="hover:scale-105">
                        <img src="/assets/images/svg/youtube.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="mx-6">
            <h1 class="text-3xl font-overpass text-white font-semibold">Explore</h1>
            <div class="flex flex-col gap-y-2 ml-2 mt-2">
                <a class="hover:text-main-color-light" href="/">Home</a>
                <a class="hover:text-main-color-light" href="/#about">About</a>
                <a class="hover:text-main-color-light" href="/events">Events</a>
                <a class="hover:text-main-color-light" href="#">Our Team</a>
            </div>
        </div>

        <div class="mx-6">
            <h1 class="text-3xl font-overpass text-white font-semibold">Contact</h1>
            <div class="ml-2 flex flex-col gap-y-4 mt-2">
                <p>
                    UPES, BIDHOLI, via, Prem Nagar, <br>Dehradun, Uttarakhand, India <br> 248007
                </p>
                <div class="flex flex-col gap-y-1">
                    <a class="hover:text-main-color-light" href="#">+91 987239192</a>
                    <a class="hover:text-main-color-light" href="#">abc@gmail.com</a>
                </div>
            </div>
        </div>
    </div>
    <p class="z-20 font-overpass bg-black-light bg-opacity-70 w-10/12 mx-auto text-center py-2 font-semibold rounded-t-md">Copyright © 2024 UPES SPE Student Chapter</p>
</footer>