<footer class="flex flex-col gap-y-2 items-center justify-between sm-l:flex-row px-2 pb-1 pt-3 border-t mt-12 border-slate-500">
    <div class="font-overpass">
        <p>Copyright © 2024 UPES SPE Student Chapter</p>
    </div>
    <div class="flex gap-x-2">
        <a href="#">
            <img src="/assets/images/svg/facebook.svg" alt="">
        </a>
        <a href="#">
            <img src="/assets/images/svg/linkedin.svg" alt="">
        </a>
        <a href="#">
            <img src="/assets/images/svg/insta.svg" alt="">
        </a>
        <a href="#">
            <img src="/assets/images/svg/facebook.svg" alt="">
        </a>
    </div>
</footer>