<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>UPES SPE</title>


<!-- GLOBAL CSS -->
<link rel="stylesheet" href="/assets/css/base.css">
<link rel="stylesheet" href="/assets/css/style.css">

<!-- GLOBAL JS -->
<script src="/assets/js/lib/gsap.min.js" defer></script>
<script src="/assets/js/lib/ScrollTrigger.min.js" defer></script>

<!-- FONT -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Roboto:wght@300;400;500;700;900&Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">