<!-- <nav class="bg-black flex justify-between items-center px-4 py-2">
    <div>
        <img src="/assets/images/logo-white.png" class="h-14 w-auto" alt="">
    </div>
    <div class="text-white flex justify-center items-center gap-x-4 font-overpass font-semibold">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Our Team</a>
        <a href="#">Contact</a>
        <a href="#" class="border rounded px-4 py-2 ml-2">Events</a>
    </div>
</nav> -->

<script src="/assets/js/navbar.js" defer></script>
<link rel="stylesheet" href="/assets/css/navbar.css">
<nav class="fixed z-[10000000] pb-2 top-0 w-full flex justify-between items-center px-4 flex-wrap md:flex-nowrap">
    <a href="/" class="flex justify-start items-center gap-x-3 z-10">
        <!-- logo -->
        <img id="LOGO" src="/assets/images/logo-white.png" class="h-10 mt-3 md:h-16 w-auto" alt="">
    </a>
    <svg id="menuIcon" onclick="toggelMenu()" class="md:hidden z-10 h-8 w-auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" stroke="#eee" stroke-width=".6" fill="rgba(0,0,0,0)" stroke-linecap="round" style="cursor: pointer">
        <path d="M2,3L5,3L8,3M2,5L8,5M2,7L5,7L8,7">
          <animate dur="0.2s" attributeName="d" values="M2,3L5,3L8,3M2,5L8,5M2,7L5,7L8,7;M3,3L5,5L7,3M5,5L5,5M3,7L5,5L7,7" fill="freeze" begin="start.begin" />
          <animate dur="0.2s" attributeName="d" values="M3,3L5,5L7,3M5,5L5,5M3,7L5,5L7,7;M2,3L5,3L8,3M2,5L8,5M2,7L5,7L8,7" fill="freeze" begin="reverse.begin" />
        </path>
        <rect width="10" height="10" stroke="none">
          <animate dur="2s" id="reverse" attributeName="width" begin="click" />
        </rect>
        <rect width="10" height="10" stroke="none">
          <animate dur="0.001s" id="start" attributeName="width" values="10;0" fill="freeze" begin="click" />
          <animate dur="0.001s" attributeName="width" values="0;10" fill="freeze" begin="reverse.begin" />
        </rect>
      </svg>
    <div id="menu" class="pointer-events-none md:pointer-events-auto flex flex-col w-full absolute -top-10 left-0 h-screen -z-10 opacity-0 md:static md:opacity-100 md:w-fit md:h-fit md:flex-row md:bg-transparent pt-6 pb-4 gap-y-4 gap-x-8 justify-center items-center font-overpass text-white text-lg font-semibold">
        <ul class="flex flex-col md:flex-row gap-y-4 gap-x-6  justify-center items-center relative">
            <a href="#"><li class="cursor-pointer opacity-90 hover:opacity-100">Home</li></a>
            <a href=""><li class="cursor-pointer opacity-90 hover:opacity-100">About</li></a>
            <a href=""><li class="cursor-pointer opacity-90 hover:opacity-100">Our Team</li></a>
            <a href=""><li class="cursor-pointer opacity-90 hover:opacity-100">Contact</li></a>
        </ul>   
        <a href="/contact">
            <button class="border rounded-md px-3 py-2 hover:bg-button-color hover:border-button-color hover:text-dark-text-color transition-all">Events</button>
        </a>            
    </div>
</nav>

