<!DOCTYPE html>
<html lang="en" class="hide-scrollbar">

<head>
    <%- include('../partials/header'); %>
    <!-- CSS -->
    <!-- <link rel="stylesheet" href="/assets/css/lib/splide.css"> -->
    <link rel="stylesheet" href="/assets/css/contact.css">
    <!-- JS -->
    <!-- <script src="/assets/js/lib/splide.js" defer></script> -->
    <script src="/assets/js/contact.js" defer></script>
</head>

<body>
    <%- include('../partials/navbar'); %>
    <div id="scroller__body" class="h-[100svh] w-full overflow-y-auto overflow-x-hidden hide-scrollbar">
        <img src="/assets/images/svg/texture-1.svg" class="absolute inset-0 h-full w-full object-cover -z-10 opacity-20" alt="">

        <section id="page1" class="bg-black-light pt-24 flex justify-center items-center">
          <h1 class="text-white font-semibold" style="font-size: clamp(3.5rem,6vw + 1rem,5rem)">Contact Us</h1>
        </section>
        <section id="contact" class="relative mt-16 flex justify-evenly items-center flex-wrap gap-x-6 gap-y-16 w-11/12 mx-auto">
            <div class="card__wapper">
              <div class="card">
                <div class="card__img">
                  <img src="/assets/images/people.png" alt="">
                </div>
                <div class="card__info">
                  <h1>Dr. Sunil Khare</h1>
                  <p>Faculty Advisor</p>
                  <div class="card__info__2">
                    <img src="/assets/images/svg/mail.svg" alt="">
                    <a href="malto:abc@gmail.com">abc@gmail.com</a>
                  </div>
                  <!-- <div class="card__info__2 mt-1">
                    <img src="/assets/images/svg/phone.svg" alt="">
                    <a href="tel:+918739172191">+91 8739172191</a>
                  </div> -->
                </div>
              </div>
            </div>

            <div class="card__wapper">
              <div class="card">
                <div class="card__img">
                  <img src="https://lh3.googleusercontent.com/drive-viewer/AEYmBYTOIN8p21gmJGCk1KUxxK0jWyigWgLllzJI6qCz7ONom7_uAz-ZNUAeKj2MAPKFjBsrYNh6U1OxiQDTq0xtohfb4nPWqQ=s1600" alt="">
                </div>
                <div class="card__info">
                  <h1>Dr. Rohit Sharma</h1>
                  <p>Co Faculty Advisor</p>
                  <div class="card__info__2">
                    <img src="/assets/images/svg/mail.svg" alt="">
                    <a href="malto:rohitsharma@ddn.upes.ac.in">rohitsharma@ddn.upes.ac.in</a>
                  </div>
                  <!-- <div class="card__info__2 mt-1">
                    <img src="/assets/images/svg/phone.svg" alt="">
                    <a href="tel:+918739172191">+91 8739172191</a>
                  </div> -->
                </div>
              </div>
            </div>
            <div class="basis-full flex justify-evenly items-center flex-wrap gap-x-6 gap-y-16">
              <div class="card__wapper">
                <div class="card">
                  <div class="card__img">
                    <img src="https://lh3.googleusercontent.com/drive-viewer/AEYmBYTnad--vaNKu6Nlq8TUzkUNsU2qmPZIfkOuV6g2fy07t-h3aV3_yR5qflnjw_kKkWtgfdA5O3ZB9rjA_7E2ghP8QAvp=s1600" alt="">
                  </div>
                  <div class="card__info">
                    <h1>Varn Agarwal</h1>
                    <p>President</p>
                    <div class="card__info__2">
                      <img src="/assets/images/svg/mail.svg" alt="">
                      <a href="malto:varn3099@gmail.com">varn3099@gmail.com</a>
                    </div>
                    <!-- <div class="card__info__2 mt-1">
                      <img src="/assets/images/svg/phone.svg" alt="">
                      <a href="tel:+918739172191">+91 8739172191</a>
                    </div> -->
                  </div>
                </div>
              </div>
              <div class="card__wapper">
                <div class="card">
                  <div class="card__img">
                    <img src="https://lh3.googleusercontent.com/drive-viewer/AEYmBYQDg4P9-MFyYSSF9Irm-l6qHPDLC7QDZykNALZYsDbaHTGhLk1FZE4OEUM851CSOKUwe5TePbFIbkVlMKfcjOxtViVm3A=s1600" alt="">
                  </div>
                  <div class="card__info">
                    <h1>Rounak Dutta</h1>
                    <p>Vice-President</p>
                    <div class="card__info__2">
                      <img src="/assets/images/svg/mail.svg" alt="">
                      <a href="malto:rounakdutta55@gmail.com">rounakdutta55@gmail.com</a>
                    </div>
                    <!-- <div class="card__info__2 mt-1">
                      <img src="/assets/images/svg/phone.svg" alt="">
                      <a href="tel:+918739172191">+91 8739172191</a>
                    </div> -->
                  </div>
                </div>
              </div>
              <div class="card__wapper">
                <div class="card">
                  <div class="card__img">
                    <img src="https://lh3.googleusercontent.com/drive-viewer/AEYmBYS2wv1fiWsYRkLE0GPFDb1uaGXc-TUL_aLztZD4yiutKaecIezbDqI1JOoAlnSUpnAl_PFut3KQrGYTEK0EMn1_ctFldQ=s1600" alt="">
                  </div>
                  <div class="card__info">
                    <h1>Pratik Raj Kar</h1>
                    <p>Chapter Officer</p>
                    <div class="card__info__2">
                      <img src="/assets/images/svg/mail.svg" alt="">
                      <a href="malto:pratikrajkar643@gmail.com">pratikrajkar643@gmail.com</a>
                    </div>
                    <!-- <div class="card__info__2 mt-1">
                      <img src="/assets/images/svg/phone.svg" alt="">
                      <a href="tel:+918739172191">+91 8739172191</a>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
        </section>
        <br>
        <br>
        <br>
        <br>
        <%- include('../partials/footer'); %>
    </div>
</body>

</html>