<!DOCTYPE html>
<html lang="en" class="hide-scrollbar">

<head>
  <%- include('../partials/header'); %>
  <!-- CSS -->
  <!-- <link rel="stylesheet" href="/assets/css/lib/splide.css"> -->
  <!-- <link rel="stylesheet" href="/assets/css/contact.css"> -->
  <!-- JS -->
  <!-- <script src="/assets/js/lib/splide.js" defer></script> -->
  <!-- <script src="/assets/js/events.js" defer></script> -->
  <style>
    svg {
      overflow: visible;

    }

    svg * {
      transform-box: fill-box;
    }

    svg g {
      transform-origin: center;
      animation: rotate 20000ms linear infinite;
    }

    @keyframes rotate {
      to {
        transform: rotate(360deg);
      }
    }
  </style>
</head>


<body>
  <%- include('../partials/navbar'); %>
  <div id="scroller__body" class="h-[100svh] w-full overflow-y-auto overflow-x-hidden hide-scrollbar">
    <section id="page1" class="bg-black-light pt-24 flex flex-col justify-center items-center gap-y-1 pb-10">
      <!-- <h1 class="text-white font-semibold" style="font-size: clamp(3.5rem,6vw + 1rem,5rem);line-height: clamp(3.5rem,6vw + 1rem,5rem)">UPES SPE FEST 2024</h1>
          <h2 class="text-white opacity-80 font-overpass text-lg">Fostering Innovation and excellence</h2> -->
      <!-- <img src="/assets/images/svg/festlogo.svg" alt=""> -->
      <svg width="512" height="162" viewBox="0 0 512 162" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M200.759 16.9346H206.659V49.1974C206.659 52.5283 205.874 55.5024 204.304 58.1196C202.749 60.7209 200.552 62.775 197.713 64.2819C194.874 65.7729 191.543 66.5184 187.72 66.5184C183.898 66.5184 180.567 65.7729 177.727 64.2819C174.888 62.775 172.683 60.7209 171.113 58.1196C169.559 55.5024 168.781 52.5283 168.781 49.1974V16.9346H174.682V48.7215C174.682 51.1008 175.205 53.2183 176.252 55.0742C177.299 56.9141 178.79 58.3655 180.725 59.4282C182.676 60.4751 185.008 60.9985 187.72 60.9985C190.433 60.9985 192.764 60.4751 194.715 59.4282C196.666 58.3655 198.157 56.9141 199.188 55.0742C200.235 53.2183 200.759 51.1008 200.759 48.7215V16.9346ZM218.443 65.6619V16.9346H234.907C238.73 16.9346 241.854 17.6246 244.281 19.0045C246.724 20.3687 248.532 22.2166 249.706 24.5482C250.88 26.8799 251.467 29.4812 251.467 32.3522C251.467 35.2232 250.88 37.8324 249.706 40.18C248.548 42.5275 246.756 44.3992 244.329 45.795C241.902 47.175 238.793 47.865 235.002 47.865H223.201V42.6306H234.812C237.429 42.6306 239.531 42.1786 241.117 41.2744C242.703 40.3703 243.853 39.149 244.567 37.6104C245.296 36.0559 245.661 34.3032 245.661 32.3522C245.661 30.4012 245.296 28.6564 244.567 27.1178C243.853 25.5792 242.695 24.3737 241.093 23.5014C239.491 22.6131 237.366 22.169 234.717 22.169H224.343V65.6619H218.443ZM260.972 65.6619V16.9346H290.38V22.169H266.872V38.6335H288.857V43.8678H266.872V60.4275H290.76V65.6619H260.972ZM327.663 29.1164C327.377 26.7054 326.219 24.8337 324.189 23.5014C322.159 22.169 319.668 21.5028 316.718 21.5028C314.561 21.5028 312.673 21.8517 311.055 22.5496C309.453 23.2476 308.2 24.2072 307.296 25.4286C306.408 26.6499 305.964 28.0378 305.964 29.5923C305.964 30.8929 306.273 32.0112 306.892 32.947C307.526 33.867 308.335 34.6363 309.318 35.2549C310.302 35.8576 311.333 36.3573 312.411 36.7538C313.49 37.1345 314.481 37.4438 315.386 37.6818L320.334 39.0141C321.603 39.3472 323.015 39.8072 324.57 40.3941C326.14 40.981 327.639 41.782 329.066 42.7972C330.51 43.7965 331.699 45.0813 332.635 46.6516C333.571 48.2219 334.039 50.1491 334.039 52.4332C334.039 55.0662 333.349 57.4455 331.969 59.571C330.605 61.6964 328.606 63.3857 325.973 64.6388C323.356 65.8919 320.176 66.5184 316.432 66.5184C312.943 66.5184 309.921 65.9553 307.367 64.8291C304.83 63.7029 302.831 62.1326 301.372 60.1182C299.928 58.1037 299.111 55.7641 298.921 53.0994H305.012C305.171 54.9393 305.789 56.4621 306.868 57.6675C307.962 58.8572 309.342 59.7454 311.008 60.3323C312.689 60.9033 314.497 61.1889 316.432 61.1889C318.685 61.1889 320.707 60.824 322.5 60.0944C324.292 59.3489 325.712 58.3179 326.758 57.0014C327.805 55.669 328.329 54.1145 328.329 52.338C328.329 50.7201 327.877 49.4036 326.973 48.3884C326.068 47.3733 324.879 46.5485 323.404 45.914C321.929 45.2795 320.334 44.7244 318.621 44.2485L312.626 42.5354C308.819 41.441 305.805 39.8786 303.584 37.8483C301.364 35.818 300.253 33.1612 300.253 29.8778C300.253 27.1496 300.991 24.7703 302.466 22.74C303.957 20.6938 305.956 19.1076 308.462 17.9815C310.984 16.8394 313.799 16.2684 316.908 16.2684C320.049 16.2684 322.841 16.8315 325.283 17.9577C327.726 19.068 329.661 20.5907 331.089 22.5259C332.532 24.461 333.293 26.6578 333.373 29.1164H327.663ZM389.232 29.1164C388.946 26.7054 387.788 24.8337 385.758 23.5014C383.728 22.169 381.238 21.5028 378.287 21.5028C376.13 21.5028 374.243 21.8517 372.625 22.5496C371.023 23.2476 369.77 24.2072 368.865 25.4286C367.977 26.6499 367.533 28.0378 367.533 29.5923C367.533 30.8929 367.842 32.0112 368.461 32.947C369.095 33.867 369.904 34.6363 370.888 35.2549C371.871 35.8576 372.902 36.3573 373.981 36.7538C375.059 37.1345 376.051 37.4438 376.955 37.6818L381.904 39.0141C383.173 39.3472 384.584 39.8072 386.139 40.3941C387.709 40.981 389.208 41.782 390.636 42.7972C392.079 43.7965 393.269 45.0813 394.205 46.6516C395.14 48.2219 395.608 50.1491 395.608 52.4332C395.608 55.0662 394.918 57.4455 393.538 59.571C392.174 61.6964 390.176 63.3857 387.543 64.6388C384.925 65.8919 381.745 66.5184 378.002 66.5184C374.512 66.5184 371.491 65.9553 368.937 64.8291C366.399 63.7029 364.4 62.1326 362.941 60.1182C361.498 58.1037 360.681 55.7641 360.49 53.0994H366.581C366.74 54.9393 367.359 56.4621 368.437 57.6675C369.532 58.8572 370.912 59.7454 372.577 60.3323C374.258 60.9033 376.067 61.1889 378.002 61.1889C380.254 61.1889 382.277 60.824 384.069 60.0944C385.861 59.3489 387.281 58.3179 388.328 57.0014C389.375 55.669 389.898 54.1145 389.898 52.338C389.898 50.7201 389.446 49.4036 388.542 48.3884C387.638 47.3733 386.448 46.5485 384.973 45.914C383.498 45.2795 381.904 44.7244 380.191 44.2485L374.195 42.5354C370.388 41.441 367.374 39.8786 365.154 37.8483C362.933 35.818 361.823 33.1612 361.823 29.8778C361.823 27.1496 362.56 24.7703 364.036 22.74C365.527 20.6938 367.525 19.1076 370.031 17.9815C372.553 16.8394 375.369 16.2684 378.478 16.2684C381.618 16.2684 384.41 16.8315 386.853 17.9577C389.295 19.068 391.23 20.5907 392.658 22.5259C394.101 24.461 394.863 26.6578 394.942 29.1164H389.232ZM405.31 65.6619V16.9346H421.774C425.597 16.9346 428.722 17.6246 431.149 19.0045C433.591 20.3687 435.399 22.2166 436.573 24.5482C437.747 26.8799 438.334 29.4812 438.334 32.3522C438.334 35.2232 437.747 37.8324 436.573 40.18C435.415 42.5275 433.623 44.3992 431.196 45.795C428.769 47.175 425.66 47.865 421.869 47.865H410.068V42.6306H421.679C424.296 42.6306 426.398 42.1786 427.984 41.2744C429.57 40.3703 430.72 39.149 431.434 37.6104C432.164 36.0559 432.528 34.3032 432.528 32.3522C432.528 30.4012 432.164 28.6564 431.434 27.1178C430.72 25.5792 429.562 24.3737 427.96 23.5014C426.358 22.6131 424.233 22.169 421.584 22.169H411.21V65.6619H405.31ZM447.839 65.6619V16.9346H477.247V22.169H453.74V38.6335H475.724V43.8678H453.74V60.4275H477.627V65.6619H447.839Z"
          fill="#2E3281" />
        <path
          d="M168.781 127.662V78.9346H197.999V84.169H174.682V100.633H195.81V105.868H174.682V127.662H168.781ZM208.105 127.662V78.9346H237.512V84.169H214.005V100.633H235.99V105.868H214.005V122.427H237.893V127.662H208.105ZM274.795 91.1164C274.51 88.7054 273.352 86.8337 271.322 85.5014C269.291 84.169 266.801 83.5028 263.851 83.5028C261.694 83.5028 259.806 83.8517 258.188 84.5496C256.586 85.2476 255.333 86.2072 254.429 87.4286C253.541 88.6499 253.097 90.0378 253.097 91.5923C253.097 92.8929 253.406 94.0112 254.024 94.947C254.659 95.867 255.468 96.6363 256.451 97.2549C257.435 97.8576 258.466 98.3573 259.544 98.7538C260.623 99.1345 261.614 99.4438 262.518 99.6818L267.467 101.014C268.736 101.347 270.148 101.807 271.702 102.394C273.273 102.981 274.772 103.782 276.199 104.797C277.643 105.796 278.832 107.081 279.768 108.652C280.704 110.222 281.172 112.149 281.172 114.433C281.172 117.066 280.482 119.445 279.102 121.571C277.738 123.696 275.739 125.386 273.106 126.639C270.489 127.892 267.309 128.518 263.565 128.518C260.076 128.518 257.054 127.955 254.5 126.829C251.962 125.703 249.964 124.133 248.505 122.118C247.061 120.104 246.244 117.764 246.054 115.099H252.145C252.303 116.939 252.922 118.462 254.001 119.668C255.095 120.857 256.475 121.745 258.141 122.332C259.822 122.903 261.63 123.189 263.565 123.189C265.818 123.189 267.84 122.824 269.632 122.094C271.425 121.349 272.844 120.318 273.891 119.001C274.938 117.669 275.462 116.115 275.462 114.338C275.462 112.72 275.01 111.404 274.105 110.388C273.201 109.373 272.012 108.548 270.536 107.914C269.061 107.28 267.467 106.724 265.754 106.249L259.758 104.535C255.952 103.441 252.938 101.879 250.717 99.8483C248.497 97.818 247.386 95.1612 247.386 91.8778C247.386 89.1496 248.124 86.7703 249.599 84.74C251.09 82.6938 253.089 81.1076 255.595 79.9815C258.117 78.8394 260.932 78.2684 264.041 78.2684C267.182 78.2684 269.973 78.8315 272.416 79.9577C274.859 81.068 276.794 82.5907 278.222 84.5259C279.665 86.461 280.426 88.6578 280.506 91.1164H274.795ZM288.208 84.169V78.9346H324.754V84.169H309.431V127.662H303.531V84.169H288.208ZM351.848 127.662V123.379L367.932 105.773C369.819 103.711 371.374 101.918 372.595 100.396C373.816 98.8569 374.72 97.4135 375.307 96.0653C375.91 94.7012 376.211 93.2736 376.211 91.7826C376.211 90.0695 375.799 88.5865 374.974 87.3334C374.165 86.0803 373.055 85.1127 371.643 84.4307C370.232 83.7486 368.645 83.4076 366.885 83.4076C365.013 83.4076 363.379 83.7962 361.983 84.5734C360.603 85.3348 359.533 86.4055 358.771 87.7854C358.026 89.1654 357.653 90.7833 357.653 92.6391H352.038C352.038 89.784 352.696 87.2779 354.013 85.1207C355.329 82.9635 357.122 81.2821 359.39 80.0766C361.674 78.8711 364.236 78.2684 367.075 78.2684C369.93 78.2684 372.46 78.8711 374.665 80.0766C376.87 81.2821 378.599 82.908 379.852 84.9541C381.105 87.0003 381.731 89.2764 381.731 91.7826C381.731 93.575 381.406 95.3277 380.756 97.0408C380.121 98.738 379.011 100.633 377.425 102.727C375.854 104.805 373.674 107.343 370.882 110.341L359.937 122.047V122.427H382.588V127.662H351.848ZM408.308 128.328C404.723 128.328 401.669 127.353 399.147 125.402C396.625 123.435 394.698 120.588 393.366 116.86C392.033 113.117 391.367 108.596 391.367 103.298C391.367 98.0321 392.033 93.5353 393.366 89.8078C394.714 86.0644 396.649 83.2093 399.171 81.2425C401.709 79.2598 404.755 78.2684 408.308 78.2684C411.861 78.2684 414.898 79.2598 417.42 81.2425C419.958 83.2093 421.893 86.0644 423.226 89.8078C424.574 93.5353 425.248 98.0321 425.248 103.298C425.248 108.596 424.582 113.117 423.249 116.86C421.917 120.588 419.99 123.435 417.468 125.402C414.946 127.353 411.892 128.328 408.308 128.328ZM408.308 123.094C411.861 123.094 414.621 121.381 416.587 117.954C418.554 114.528 419.538 109.643 419.538 103.298C419.538 99.079 419.086 95.4863 418.182 92.5202C417.293 89.554 416.008 87.2937 414.327 85.7393C412.662 84.1848 410.655 83.4076 408.308 83.4076C404.786 83.4076 402.034 85.1445 400.052 88.6182C398.069 92.076 397.078 96.9694 397.078 103.298C397.078 107.517 397.522 111.102 398.41 114.052C399.298 117.003 400.575 119.247 402.241 120.786C403.922 122.324 405.944 123.094 408.308 123.094ZM434.289 127.662V123.379L450.373 105.773C452.261 103.711 453.815 101.918 455.036 100.396C456.258 98.8569 457.162 97.4135 457.749 96.0653C458.351 94.7012 458.653 93.2736 458.653 91.7826C458.653 90.0695 458.24 88.5865 457.416 87.3334C456.607 86.0803 455.496 85.1127 454.085 84.4307C452.673 83.7486 451.087 83.4076 449.326 83.4076C447.454 83.4076 445.821 83.7962 444.425 84.5734C443.045 85.3348 441.974 86.4055 441.213 87.7854C440.467 89.1654 440.095 90.7833 440.095 92.6391H434.479C434.479 89.784 435.138 87.2779 436.454 85.1207C437.771 82.9635 439.563 81.2821 441.831 80.0766C444.116 78.8711 446.677 78.2684 449.516 78.2684C452.372 78.2684 454.901 78.8711 457.106 80.0766C459.311 81.2821 461.04 82.908 462.293 84.9541C463.546 87.0003 464.173 89.2764 464.173 91.7826C464.173 93.575 463.848 95.3277 463.197 97.0408C462.563 98.738 461.452 100.633 459.866 102.727C458.296 104.805 456.115 107.343 453.323 110.341L442.379 122.047V122.427H465.029V127.662H434.289ZM472.667 117.669V112.815L494.08 78.9346H497.601V86.4531H495.222L479.043 112.054V112.435H507.88V117.669H472.667ZM495.603 127.662V116.194V113.934V78.9346H501.218V127.662H495.603Z"
          fill="#2E3281" />
        <path
          d="M168.726 149.162V137.889H175.485V139.1H170.091V142.909H174.979V144.12H170.091V149.162H168.726ZM187.334 143.526C187.334 144.714 187.12 145.742 186.69 146.608C186.261 147.474 185.672 148.142 184.924 148.611C184.175 149.081 183.32 149.316 182.359 149.316C181.397 149.316 180.542 149.081 179.794 148.611C179.045 148.142 178.456 147.474 178.027 146.608C177.597 145.742 177.383 144.714 177.383 143.526C177.383 142.337 177.597 141.309 178.027 140.443C178.456 139.577 179.045 138.909 179.794 138.44C180.542 137.97 181.397 137.735 182.359 137.735C183.32 137.735 184.175 137.97 184.924 138.44C185.672 138.909 186.261 139.577 186.69 140.443C187.12 141.309 187.334 142.337 187.334 143.526ZM186.013 143.526C186.013 142.549 185.85 141.726 185.524 141.054C185.201 140.383 184.762 139.874 184.208 139.529C183.658 139.184 183.041 139.012 182.359 139.012C181.676 139.012 181.058 139.184 180.504 139.529C179.953 139.874 179.515 140.383 179.188 141.054C178.865 141.726 178.704 142.549 178.704 143.526C178.704 144.502 178.865 145.325 179.188 145.997C179.515 146.668 179.953 147.177 180.504 147.522C181.058 147.867 181.676 148.039 182.359 148.039C183.041 148.039 183.658 147.867 184.208 147.522C184.762 147.177 185.201 146.668 185.524 145.997C185.85 145.325 186.013 144.502 186.013 143.526ZM195.794 140.707C195.728 140.15 195.461 139.717 194.991 139.408C194.521 139.1 193.945 138.946 193.263 138.946C192.763 138.946 192.327 139.027 191.953 139.188C191.582 139.35 191.292 139.572 191.083 139.854C190.877 140.137 190.775 140.458 190.775 140.817C190.775 141.118 190.846 141.377 190.989 141.594C191.136 141.806 191.323 141.984 191.551 142.127C191.778 142.267 192.017 142.382 192.266 142.474C192.516 142.562 192.745 142.634 192.954 142.689L194.099 142.997C194.393 143.074 194.719 143.181 195.079 143.316C195.442 143.452 195.789 143.637 196.119 143.872C196.453 144.103 196.728 144.401 196.945 144.764C197.161 145.127 197.27 145.573 197.27 146.101C197.27 146.711 197.11 147.261 196.791 147.753C196.475 148.244 196.013 148.635 195.404 148.925C194.798 149.215 194.062 149.36 193.196 149.36C192.389 149.36 191.69 149.23 191.099 148.969C190.512 148.709 190.05 148.345 189.712 147.879C189.378 147.413 189.189 146.872 189.145 146.256H190.554C190.591 146.681 190.734 147.034 190.984 147.312C191.237 147.588 191.556 147.793 191.941 147.929C192.33 148.061 192.749 148.127 193.196 148.127C193.718 148.127 194.185 148.043 194.6 147.874C195.015 147.701 195.343 147.463 195.585 147.158C195.828 146.85 195.949 146.49 195.949 146.079C195.949 145.705 195.844 145.401 195.635 145.166C195.426 144.931 195.15 144.74 194.809 144.593C194.468 144.447 194.099 144.318 193.703 144.208L192.316 143.812C191.435 143.559 190.738 143.197 190.224 142.727C189.71 142.258 189.454 141.643 189.454 140.883C189.454 140.252 189.624 139.702 189.965 139.232C190.31 138.759 190.773 138.392 191.353 138.131C191.936 137.867 192.587 137.735 193.307 137.735C194.033 137.735 194.679 137.865 195.244 138.126C195.809 138.383 196.257 138.735 196.587 139.183C196.921 139.63 197.097 140.139 197.116 140.707H195.794ZM198.898 139.1V137.889H207.352V139.1H203.807V149.162H202.442V139.1H198.898ZM209.459 149.162V137.889H216.262V139.1H210.824V142.909H215.91V144.12H210.824V147.951H216.35V149.162H209.459ZM218.722 149.162V137.889H222.531C223.412 137.889 224.135 138.04 224.7 138.34C225.265 138.638 225.684 139.047 225.955 139.568C226.227 140.089 226.362 140.682 226.362 141.346C226.362 142.01 226.227 142.599 225.955 143.113C225.684 143.626 225.267 144.03 224.706 144.324C224.144 144.614 223.427 144.758 222.553 144.758H219.471V143.526H222.509C223.111 143.526 223.596 143.437 223.963 143.261C224.333 143.085 224.601 142.836 224.766 142.513C224.935 142.186 225.019 141.797 225.019 141.346C225.019 140.894 224.935 140.5 224.766 140.162C224.597 139.825 224.328 139.564 223.957 139.381C223.586 139.194 223.097 139.1 222.487 139.1H220.088V149.162H218.722ZM224.029 144.098L226.803 149.162H225.218L222.487 144.098H224.029ZM230.002 137.889V149.162H228.637V137.889H230.002ZM241.678 137.889V149.162H240.357L234.214 140.311H234.104V149.162H232.739V137.889H234.06L240.225 146.762H240.335V137.889H241.678ZM252.115 141.412C251.994 141.041 251.835 140.709 251.637 140.416C251.442 140.118 251.209 139.865 250.938 139.656C250.67 139.447 250.365 139.287 250.024 139.177C249.683 139.067 249.308 139.012 248.901 139.012C248.233 139.012 247.626 139.184 247.079 139.529C246.532 139.874 246.097 140.383 245.775 141.054C245.452 141.726 245.29 142.549 245.29 143.526C245.29 144.502 245.453 145.325 245.78 145.997C246.107 146.668 246.549 147.177 247.107 147.522C247.664 147.867 248.292 148.039 248.989 148.039C249.635 148.039 250.204 147.901 250.695 147.626C251.191 147.347 251.576 146.955 251.851 146.448C252.13 145.938 252.27 145.338 252.27 144.648L252.688 144.736H249.297V143.526H253.591V144.736C253.591 145.665 253.392 146.472 252.996 147.158C252.604 147.845 252.06 148.377 251.367 148.755C250.677 149.129 249.884 149.316 248.989 149.316C247.991 149.316 247.114 149.081 246.358 148.611C245.606 148.142 245.019 147.474 244.597 146.608C244.178 145.742 243.969 144.714 243.969 143.526C243.969 142.634 244.088 141.832 244.327 141.12C244.569 140.405 244.91 139.795 245.351 139.293C245.791 138.79 246.312 138.405 246.914 138.137C247.516 137.869 248.178 137.735 248.901 137.735C249.495 137.735 250.05 137.825 250.563 138.005C251.081 138.181 251.541 138.432 251.945 138.759C252.352 139.082 252.692 139.469 252.963 139.92C253.235 140.368 253.422 140.865 253.525 141.412H252.115ZM261.653 137.889V149.162H260.288V137.889H261.653ZM273.329 137.889V149.162H272.008L265.865 140.311H265.755V149.162H264.39V137.889H265.711L271.876 146.762H271.986V137.889H273.329ZM284.999 137.889V149.162H283.678L277.536 140.311H277.425V149.162H276.06V137.889H277.381L283.546 146.762H283.656V137.889H284.999ZM297.242 143.526C297.242 144.714 297.027 145.742 296.598 146.608C296.169 147.474 295.58 148.142 294.831 148.611C294.083 149.081 293.228 149.316 292.266 149.316C291.305 149.316 290.45 149.081 289.701 148.611C288.953 148.142 288.364 147.474 287.934 146.608C287.505 145.742 287.29 144.714 287.29 143.526C287.29 142.337 287.505 141.309 287.934 140.443C288.364 139.577 288.953 138.909 289.701 138.44C290.45 137.97 291.305 137.735 292.266 137.735C293.228 137.735 294.083 137.97 294.831 138.44C295.58 138.909 296.169 139.577 296.598 140.443C297.027 141.309 297.242 142.337 297.242 143.526ZM295.921 143.526C295.921 142.549 295.758 141.726 295.431 141.054C295.108 140.383 294.67 139.874 294.116 139.529C293.565 139.184 292.949 139.012 292.266 139.012C291.584 139.012 290.965 139.184 290.411 139.529C289.861 139.874 289.422 140.383 289.096 141.054C288.773 141.726 288.611 142.549 288.611 143.526C288.611 144.502 288.773 145.325 289.096 145.997C289.422 146.668 289.861 147.177 290.411 147.522C290.965 147.867 291.584 148.039 292.266 148.039C292.949 148.039 293.565 147.867 294.116 147.522C294.67 147.177 295.108 146.668 295.431 145.997C295.758 145.325 295.921 144.502 295.921 143.526ZM299.47 137.889L302.817 147.378H302.949L306.295 137.889H307.726L303.587 149.162H302.178L298.039 137.889H299.47ZM308.976 149.162H307.545L311.684 137.889H313.093L317.232 149.162H315.801L312.433 139.673H312.344L308.976 149.162ZM309.504 144.758H315.273V145.969H309.504V144.758ZM317.055 139.1V137.889H325.509V139.1H321.965V149.162H320.599V139.1H317.055ZM328.981 137.889V149.162H327.616V137.889H328.981ZM341.229 143.526C341.229 144.714 341.015 145.742 340.585 146.608C340.156 147.474 339.567 148.142 338.819 148.611C338.07 149.081 337.215 149.316 336.254 149.316C335.292 149.316 334.437 149.081 333.689 148.611C332.94 148.142 332.351 147.474 331.922 146.608C331.492 145.742 331.278 144.714 331.278 143.526C331.278 142.337 331.492 141.309 331.922 140.443C332.351 139.577 332.94 138.909 333.689 138.44C334.437 137.97 335.292 137.735 336.254 137.735C337.215 137.735 338.07 137.97 338.819 138.44C339.567 138.909 340.156 139.577 340.585 140.443C341.015 141.309 341.229 142.337 341.229 143.526ZM339.908 143.526C339.908 142.549 339.745 141.726 339.419 141.054C339.096 140.383 338.657 139.874 338.103 139.529C337.553 139.184 336.936 139.012 336.254 139.012C335.571 139.012 334.953 139.184 334.399 139.529C333.848 139.874 333.41 140.383 333.083 141.054C332.76 141.726 332.599 142.549 332.599 143.526C332.599 144.502 332.76 145.325 333.083 145.997C333.41 146.668 333.848 147.177 334.399 147.522C334.953 147.867 335.571 148.039 336.254 148.039C336.936 148.039 337.553 147.867 338.103 147.522C338.657 147.177 339.096 146.668 339.419 145.997C339.745 145.325 339.908 144.502 339.908 143.526ZM352.464 137.889V149.162H351.143L345 140.311H344.89V149.162H343.525V137.889H344.846L351.011 146.762H351.121V137.889H352.464ZM360.017 149.162H358.586L362.725 137.889H364.134L368.273 149.162H366.842L363.474 139.673H363.385L360.017 149.162ZM360.545 144.758H366.314V145.969H360.545V144.758ZM378.968 137.889V149.162H377.647L371.504 140.311H371.394V149.162H370.029V137.889H371.35L377.515 146.762H377.625V137.889H378.968ZM385.178 149.162H381.7V137.889H385.332C386.426 137.889 387.362 138.115 388.14 138.566C388.917 139.014 389.514 139.658 389.928 140.498C390.343 141.335 390.55 142.337 390.55 143.503C390.55 144.678 390.341 145.689 389.923 146.536C389.505 147.38 388.895 148.03 388.095 148.485C387.296 148.936 386.323 149.162 385.178 149.162ZM383.065 147.951H385.09C386.022 147.951 386.795 147.771 387.407 147.412C388.02 147.052 388.477 146.54 388.778 145.876C389.079 145.212 389.229 144.421 389.229 143.503C389.229 142.593 389.081 141.81 388.784 141.153C388.486 140.493 388.042 139.986 387.451 139.634C386.861 139.278 386.125 139.1 385.244 139.1H383.065V147.951ZM397.2 149.162V137.889H404.003V139.1H398.565V142.909H403.651V144.12H398.565V147.951H404.091V149.162H397.2ZM407.124 137.889L410.03 142.579H410.118L413.024 137.889H414.632L411.087 143.526L414.632 149.162H413.024L410.118 144.56H410.03L407.124 149.162H405.516L409.149 143.526L405.516 137.889H407.124ZM425.297 141.412H423.932C423.852 141.019 423.71 140.674 423.509 140.377C423.31 140.08 423.068 139.83 422.782 139.628C422.499 139.423 422.186 139.269 421.841 139.166C421.496 139.063 421.136 139.012 420.762 139.012C420.079 139.012 419.461 139.184 418.907 139.529C418.357 139.874 417.918 140.383 417.591 141.054C417.269 141.726 417.107 142.549 417.107 143.526C417.107 144.502 417.269 145.325 417.591 145.997C417.918 146.668 418.357 147.177 418.907 147.522C419.461 147.867 420.079 148.039 420.762 148.039C421.136 148.039 421.496 147.988 421.841 147.885C422.186 147.782 422.499 147.63 422.782 147.428C423.068 147.223 423.31 146.971 423.509 146.674C423.71 146.373 423.852 146.028 423.932 145.639H425.297C425.195 146.215 425.008 146.731 424.736 147.186C424.464 147.641 424.127 148.028 423.723 148.347C423.32 148.663 422.866 148.903 422.364 149.068C421.865 149.233 421.331 149.316 420.762 149.316C419.8 149.316 418.945 149.081 418.197 148.611C417.448 148.142 416.859 147.474 416.43 146.608C416.001 145.742 415.786 144.714 415.786 143.526C415.786 142.337 416.001 141.309 416.43 140.443C416.859 139.577 417.448 138.909 418.197 138.44C418.945 137.97 419.8 137.735 420.762 137.735C421.331 137.735 421.865 137.818 422.364 137.983C422.866 138.148 423.32 138.39 423.723 138.709C424.127 139.025 424.464 139.41 424.736 139.865C425.008 140.317 425.195 140.832 425.297 141.412ZM427.503 149.162V137.889H434.307V139.1H428.868V142.909H433.954V144.12H428.868V147.951H434.395V149.162H427.503ZM436.767 149.162V137.889H438.132V147.951H443.372V149.162H436.767ZM445.486 149.162V137.889H446.851V147.951H452.091V149.162H445.486ZM454.204 149.162V137.889H461.008V139.1H455.569V142.909H460.655V144.12H455.569V147.951H461.096V149.162H454.204ZM472.407 137.889V149.162H471.086L464.943 140.311H464.833V149.162H463.468V137.889H464.789L470.954 146.762H471.064V137.889H472.407ZM484.21 141.412H482.844C482.764 141.019 482.622 140.674 482.421 140.377C482.222 140.08 481.98 139.83 481.694 139.628C481.412 139.423 481.098 139.269 480.753 139.166C480.408 139.063 480.048 139.012 479.674 139.012C478.991 139.012 478.373 139.184 477.819 139.529C477.269 139.874 476.83 140.383 476.504 141.054C476.181 141.726 476.019 142.549 476.019 143.526C476.019 144.502 476.181 145.325 476.504 145.997C476.83 146.668 477.269 147.177 477.819 147.522C478.373 147.867 478.991 148.039 479.674 148.039C480.048 148.039 480.408 147.988 480.753 147.885C481.098 147.782 481.412 147.63 481.694 147.428C481.98 147.223 482.222 146.971 482.421 146.674C482.622 146.373 482.764 146.028 482.844 145.639H484.21C484.107 146.215 483.92 146.731 483.648 147.186C483.377 147.641 483.039 148.028 482.635 148.347C482.232 148.663 481.778 148.903 481.276 149.068C480.777 149.233 480.243 149.316 479.674 149.316C478.713 149.316 477.858 149.081 477.109 148.611C476.36 148.142 475.771 147.474 475.342 146.608C474.913 145.742 474.698 144.714 474.698 143.526C474.698 142.337 474.913 141.309 475.342 140.443C475.771 139.577 476.36 138.909 477.109 138.44C477.858 137.97 478.713 137.735 479.674 137.735C480.243 137.735 480.777 137.818 481.276 137.983C481.778 138.148 482.232 138.39 482.635 138.709C483.039 139.025 483.377 139.41 483.648 139.865C483.92 140.317 484.107 140.832 484.21 141.412ZM486.415 149.162V137.889H493.219V139.1H487.78V142.909H492.866V144.12H487.78V147.951H493.307V149.162H486.415Z"
          fill="#2E3281" />
        <g>
          <path
            d="M90.81 5.40011C81.28 2.81011 73.48 7.26013 71.39 8.57013C66.08 11.8901 63.46 16.3301 62.43 18.1101C52.32 35.6201 64.74 47.2501 65.16 47.0501C65.58 46.8501 68.01 36.9601 78.38 29.6201C88.75 22.2801 87.46 13.6901 87.46 13.6901C87.46 13.6901 105.2 26.2701 89.18 44.1401C73.16 62.0101 72.15 67.7201 76.35 81.1501C78.29 72.4901 81.75 67.4501 84.59 64.4401C87.02 61.8601 90.13 59.5601 95.99 53.3401C97.37 51.8801 98.91 50.2401 99.98 48.9501C101.78 46.7701 111.54 34.9301 107.61 21.7401C105.32 14.0501 98.9 7.59011 90.81 5.40011Z"
            fill="url(#paint0_linear_35_168)" />
          <path
            d="M70.88 64.1802C70.88 64.1802 71.04 57.1102 82.54 45.8302C94.04 34.5502 95.5 29.2002 89.27 18.7002C89.27 18.7002 88.15 25.5902 81.98 31.0602C75.81 36.5302 67.77 41.9202 67.66 51.1202C67.55 60.3202 70.88 64.1802 70.88 64.1802Z"
            fill="url(#paint1_linear_35_168)" />
          <path
            d="M150.86 57.51C148.52 47.91 140.86 43.23 138.7 42.03C133.23 38.99 128.08 38.83 126.02 38.79C105.81 38.4 101.62 54.88 102 55.16C102.38 55.43 112.21 52.78 123.65 58.32C135.09 63.86 141.99 58.58 141.99 58.58C141.99 58.58 139.54 80.19 116.16 74.79C92.7801 69.39 87.29 71.27 77.55 81.43C86.07 78.95 92.1501 79.54 96.1601 80.57C99.5901 81.45 103.1 83.06 111.38 85.2C113.33 85.7 115.51 86.26 117.15 86.57C119.93 87.09 135.01 89.92 144.66 80.11C150.29 74.4 152.84 65.65 150.86 57.51Z"
            fill="url(#paint2_linear_35_168)" />
          <path
            d="M89.76 68.45C89.76 68.45 96.03 65.18 111.46 69.79C126.89 74.41 132.28 73.1 138.47 62.58C138.47 62.58 131.9 64.93 124.13 62.17C116.36 59.41 107.76 54.97 99.65 59.32C91.54 63.68 89.76 68.45 89.76 68.45Z"
            fill="url(#paint3_linear_35_168)" />
          <path
            d="M135.39 135.48C142.52 128.64 142.73 119.67 142.68 117.2C142.57 110.94 140.12 106.41 139.12 104.61C129.32 86.93 112.96 91.57 112.92 92.04C112.88 92.51 120.1 99.68 121.04 112.35C121.98 125.02 130.01 128.34 130.01 128.34C130.01 128.34 110.09 137.06 103.03 114.12C95.9701 91.1801 91.6001 87.38 77.9301 84.05C84.3501 90.18 86.8801 95.74 88.0001 99.73C88.9601 103.14 89.3201 106.99 91.6301 115.22C92.1701 117.16 92.7801 119.32 93.3401 120.9C94.2801 123.56 99.3901 138.03 112.73 141.46C120.5 143.45 129.35 141.27 135.39 135.48Z"
            fill="url(#paint4_linear_35_168)" />
          <path
            d="M95.29 88.1001C95.29 88.1001 101.27 91.8801 105.01 107.55C108.75 123.22 112.58 127.22 124.79 127.3C124.79 127.3 119.46 122.79 117.95 114.69C116.44 106.59 115.97 96.9202 108.14 92.0802C100.31 87.2402 95.29 88.1001 95.29 88.1001Z"
            fill="url(#paint5_linear_35_168)" />
          <path
            d="M58.7501 160.98C68.2101 163.81 76.1201 159.57 78.2501 158.31C83.6401 155.12 86.3801 150.76 87.4501 149.01C98.0001 131.77 85.8901 119.82 85.4701 120.01C85.0501 120.2 82.3601 130.02 71.8101 137.09C61.2501 144.16 62.3201 152.78 62.3201 152.78C62.3201 152.78 44.9101 139.75 61.3901 122.3C77.8701 104.85 79.0201 99.1701 75.1701 85.6301C73.0001 94.2401 69.4201 99.1801 66.5001 102.12C64.0101 104.64 60.8401 106.85 54.8101 112.92C53.3901 114.35 51.8101 115.94 50.7101 117.21C48.8601 119.34 38.7901 130.92 42.3801 144.22C44.4801 151.95 50.7301 158.58 58.7501 160.98Z"
            fill="url(#paint6_linear_35_168)" />
          <path
            d="M80.1902 102.73C80.1902 102.73 79.8502 109.79 68.0602 120.77C56.2702 131.75 54.6802 137.06 60.6302 147.71C60.6302 147.71 61.9302 140.85 68.2302 135.54C74.5302 130.23 82.7202 125.05 83.0702 115.86C83.4202 106.68 80.1902 102.73 80.1902 102.73Z"
            fill="url(#paint7_linear_35_168)" />
          <path
            d="M15.8 30.9501C8.81999 37.9401 8.82002 46.9201 8.92002 49.3901C9.17002 55.6501 11.72 60.12 12.76 61.9C22.95 79.36 39.21 74.35 39.24 73.88C39.27 73.41 31.89 66.4 30.66 53.76C29.43 41.11 21.33 37.97 21.33 37.97C21.33 37.97 41.05 28.81 48.62 51.58C56.19 74.35 60.65 78.0601 74.39 81.0801C67.83 75.1001 65.17 69.6001 63.97 65.6401C62.94 62.2501 62.48 58.41 59.99 50.24C59.4 48.32 58.75 46.16 58.16 44.6C57.16 41.96 51.72 27.61 38.32 24.48C30.51 22.65 21.72 25.0201 15.8 30.9501Z"
            fill="url(#paint8_linear_35_168)" />
          <path
            d="M56.96 77.41C56.96 77.41 50.9 73.76 46.81 58.18C42.72 42.6 38.8 38.68 26.59 38.88C26.59 38.88 32.02 43.27 33.71 51.33C35.4 59.4 36.09 69.05 44.02 73.72C51.96 78.39 56.96 77.41 56.96 77.41Z"
            fill="url(#paint9_linear_35_168)" />
          <path
            d="M0.950039 107.14C3.23004 116.75 10.87 121.47 13.02 122.69C18.48 125.76 23.62 125.95 25.68 126C45.89 126.51 50.17 110.05 49.79 109.77C49.41 109.49 39.56 112.09 28.16 106.49C16.76 100.89 9.82003 106.13 9.82003 106.13C9.82003 106.13 12.39 84.5402 35.74 90.0702C59.09 95.6002 64.59 93.7602 74.39 83.6502C65.85 86.0802 59.78 85.4502 55.77 84.4002C52.34 83.5002 48.84 81.8701 40.57 79.6901C38.63 79.1801 36.45 78.6002 34.81 78.2802C32.04 77.7402 16.97 74.8202 7.26004 84.5802C1.62004 90.2602 -0.979961 98.9902 0.950039 107.14Z"
            fill="url(#paint10_linear_35_168)" />
          <path
            d="M62.11 96.5501C62.11 96.5501 55.82 99.7901 40.42 95.0801C25.02 90.3701 19.62 91.6501 13.37 102.13C13.37 102.13 19.96 99.8201 27.71 102.62C35.46 105.42 44.04 109.91 52.17 105.62C60.3 101.33 62.11 96.5501 62.11 96.5501Z"
            fill="url(#paint11_linear_35_168)" />
        </g>
        <defs>
          <linearGradient id="paint0_linear_35_168" x1="83.0158" y1="87.2" x2="84.0972" y2="-39.3878"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="white" />
            <stop offset="0.0924" stop-color="#D2D2E5" />
            <stop offset="0.224" stop-color="#9999C3" />
            <stop offset="0.3457" stop-color="#6C6CA9" />
            <stop offset="0.4535" stop-color="#4B4B96" />
            <stop offset="0.5434" stop-color="#37378A" />
            <stop offset="0.6044" stop-color="#303086" />
            <stop offset="0.6066" stop-color="#303086" />
            <stop offset="0.7281" stop-color="#4A2D7F" />
            <stop offset="0.8332" stop-color="#572B7B" />
            <stop offset="0.9094" stop-color="#5C2B7A" />
            <stop offset="1" stop-color="white" />
          </linearGradient>
          <linearGradient id="paint1_linear_35_168" x1="88.6166" y1="57.6392" x2="78.1033" y2="37.7152"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="white" />
            <stop offset="0.1289" stop-color="#FEEFD8" />
            <stop offset="0.415" stop-color="#FBC676" />
            <stop offset="0.6693" stop-color="#F9A01B" />
            <stop offset="0.716" stop-color="#F9A01B" />
            <stop offset="1" stop-color="#F9A01B" />
          </linearGradient>
          <linearGradient id="paint2_linear_35_168" x1="75.454" y1="90.1817" x2="186.816" y2="29.9866"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="white" />
            <stop offset="0.0924" stop-color="#D2D2E5" />
            <stop offset="0.224" stop-color="#9999C3" />
            <stop offset="0.3457" stop-color="#6C6CA9" />
            <stop offset="0.4535" stop-color="#4B4B96" />
            <stop offset="0.5434" stop-color="#37378A" />
            <stop offset="0.6044" stop-color="#303086" />
            <stop offset="0.6066" stop-color="#303086" />
            <stop offset="0.7281" stop-color="#4A2D7F" />
            <stop offset="0.8332" stop-color="#572B7B" />
            <stop offset="0.9094" stop-color="#5C2B7A" />
            <stop offset="1" stop-color="white" />
          </linearGradient>
          <linearGradient id="paint3_linear_35_168" x1="104.057" y1="80.8424" x2="116.425" y2="62.0136"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="white" />
            <stop offset="0.1289" stop-color="#FEEFD8" />
            <stop offset="0.415" stop-color="#FBC676" />
            <stop offset="0.6693" stop-color="#F9A01B" />
            <stop offset="0.716" stop-color="#F9A01B" />
            <stop offset="1" stop-color="#F9A01B" />
          </linearGradient>
          <linearGradient id="paint4_linear_35_168" x1="69.2785" y1="86.6236" x2="177.207" y2="152.794"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="white" />
            <stop offset="0.0924" stop-color="#D2D2E5" />
            <stop offset="0.224" stop-color="#9999C3" />
            <stop offset="0.3457" stop-color="#6C6CA9" />
            <stop offset="0.4535" stop-color="#4B4B96" />
            <stop offset="0.5434" stop-color="#37378A" />
            <stop offset="0.6044" stop-color="#303086" />
            <stop offset="0.6066" stop-color="#303086" />
            <stop offset="0.7281" stop-color="#4A2D7F" />
            <stop offset="0.8332" stop-color="#572B7B" />
            <stop offset="0.9094" stop-color="#5C2B7A" />
            <stop offset="1" stop-color="white" />
          </linearGradient>
          <linearGradient id="paint5_linear_35_168" x1="91.6954" y1="106.658" x2="114.186" y2="107.916"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="white" />
            <stop offset="0.1289" stop-color="#FEEFD8" />
            <stop offset="0.415" stop-color="#FBC676" />
            <stop offset="0.6693" stop-color="#F9A01B" />
            <stop offset="0.716" stop-color="#F9A01B" />
            <stop offset="1" stop-color="#F9A01B" />
          </linearGradient>
          <linearGradient id="paint6_linear_35_168" x1="68.6573" y1="79.3768" x2="64.3103" y2="205.899"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="white" />
            <stop offset="0.0924" stop-color="#D2D2E5" />
            <stop offset="0.224" stop-color="#9999C3" />
            <stop offset="0.3457" stop-color="#6C6CA9" />
            <stop offset="0.4535" stop-color="#4B4B96" />
            <stop offset="0.5434" stop-color="#37378A" />
            <stop offset="0.6044" stop-color="#303086" />
            <stop offset="0.6066" stop-color="#303086" />
            <stop offset="0.7281" stop-color="#4A2D7F" />
            <stop offset="0.8332" stop-color="#572B7B" />
            <stop offset="0.9094" stop-color="#5C2B7A" />
            <stop offset="1" stop-color="white" />
          </linearGradient>
          <linearGradient id="paint7_linear_35_168" x1="62.278" y1="108.76" x2="72.2739" y2="128.947"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="white" />
            <stop offset="0.1289" stop-color="#FEEFD8" />
            <stop offset="0.415" stop-color="#FBC676" />
            <stop offset="0.6693" stop-color="#F9A01B" />
            <stop offset="0.716" stop-color="#F9A01B" />
            <stop offset="1" stop-color="#F9A01B" />
          </linearGradient>
          <linearGradient id="paint8_linear_35_168" x1="82.9632" y1="78.3419" x2="-26.4166" y2="14.6154"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="white" />
            <stop offset="0.0924" stop-color="#D2D2E5" />
            <stop offset="0.224" stop-color="#9999C3" />
            <stop offset="0.3457" stop-color="#6C6CA9" />
            <stop offset="0.4535" stop-color="#4B4B96" />
            <stop offset="0.5434" stop-color="#37378A" />
            <stop offset="0.6044" stop-color="#303086" />
            <stop offset="0.6066" stop-color="#303086" />
            <stop offset="0.7281" stop-color="#4A2D7F" />
            <stop offset="0.8332" stop-color="#572B7B" />
            <stop offset="0.9094" stop-color="#5C2B7A" />
            <stop offset="1" stop-color="white" />
          </linearGradient>
          <linearGradient id="paint9_linear_35_168" x1="60.105" y1="58.7729" x2="37.5904" y2="58.0203"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="white" />
            <stop offset="0.1289" stop-color="#FEEFD8" />
            <stop offset="0.415" stop-color="#FBC676" />
            <stop offset="0.6693" stop-color="#F9A01B" />
            <stop offset="0.716" stop-color="#F9A01B" />
            <stop offset="1" stop-color="#F9A01B" />
          </linearGradient>
          <linearGradient id="paint10_linear_35_168" x1="76.5611" y1="74.9184" x2="-35.1503" y2="134.465"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="white" />
            <stop offset="0.0924" stop-color="#D2D2E5" />
            <stop offset="0.224" stop-color="#9999C3" />
            <stop offset="0.3457" stop-color="#6C6CA9" />
            <stop offset="0.4535" stop-color="#4B4B96" />
            <stop offset="0.5434" stop-color="#37378A" />
            <stop offset="0.6044" stop-color="#303086" />
            <stop offset="0.6066" stop-color="#303086" />
            <stop offset="0.7281" stop-color="#4A2D7F" />
            <stop offset="0.8332" stop-color="#572B7B" />
            <stop offset="0.9094" stop-color="#5C2B7A" />
            <stop offset="1" stop-color="white" />
          </linearGradient>
          <linearGradient id="paint11_linear_35_168" x1="47.9511" y1="84.0622" x2="35.4768" y2="102.819"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="white" />
            <stop offset="0.1289" stop-color="#FEEFD8" />
            <stop offset="0.415" stop-color="#FBC676" />
            <stop offset="0.6693" stop-color="#F9A01B" />
            <stop offset="0.716" stop-color="#F9A01B" />
            <stop offset="1" stop-color="#F9A01B" />
          </linearGradient>
        </defs>
      </svg>

    </section>
    <section id="fest"
      class="relative mt-16 flex justify-evenly items-center flex-wrap gap-x-6 gap-y-16 w-11/12 mx-auto">
      <div class="flex flex-col gap-y-6">
        <p>
          With great pride, UPES SPE Student Chapter presents UPES SPE Fest 2024, a trip down that will both repeat the
          resonance of the past triumphs and foresee a future drawn with innovation.
          <br>We are committed to keeping up our purpose of creating an experience that enhances the spirit of a vibrant
          community through unflinching dedication. This year, the Chapter will be conducting its 14th iteration of an
          outstanding technical extravaganza with boundless enthusiasm, with the theme of “Fostering Innovation and
          Excellence”.
          <br><br>The Fest will represent the unwavering quest of knowledge as well as provide a forum for young people to
          engage in intellectual growth and exchange. The purpose of this edition is to facilitate an insightful
          discussion on exploring sustainable practices and green horizons in the oil and gas industry.
          <br>Moreover, it would provide a holistic gateway for participants to gain profound understanding into the
          intricacies of the energy industry. Through a blend of competitions, workshops, and interactions with industry
          stalwarts, attendees will delve into the core of technological advancements, and future prospects within the
          energy sector.
          <br><br>Esteemed professionals from the Oil and Gas Industry are to grace our event, sharing their invaluable
          experiences and insights. This interaction will inspire and thrust the participants into the cutting-edge of
          energy intelligence and create potential career paths. Let us unfold this section of our legacy, that exceeds
          boundaries, where visions converge, and aspirations take flight.
        </p>
        <a href="#"
          class="border bg-white font-semibold border-black hover:text-white hover:bg-purple-400 rounded font-overpass flex justify-center items-center px-4 py-2 w-fit gap-x-1 mx-auto">
          FEST Brochure
          <img src="/assets/images/svg/arrow-up-right.svg" class="h-6 w-auto" alt="">
        </a>
      </div>
    </section>
    <%- include('../partials/footer'); %>
  </div>
</body>

</html>