<!DOCTYPE html>
<html lang="en" class="hide-scrollbar">

<head>
  <%- include('../partials/header'); %>
  <!-- CSS -->
  <!-- <link rel="stylesheet" href="/assets/css/lib/splide.css"> -->
  <!-- <link rel="stylesheet" href="/assets/css/contact.css"> -->
  <!-- JS -->
  <!-- <script src="/assets/js/lib/splide.js" defer></script> -->
  <!-- <script src="/assets/js/events.js" defer></script> -->
  <style>
    svg {
      overflow: visible;
    }

    svg * {
      transform-box: fill-box;
    }

    svg g {
      transform-origin: center;
      animation: rotate 20000ms linear infinite;
    }


    @keyframes rotate {
      to {
        transform: rotate(360deg);
      }
    }


    @media only screen and (max-width: 599px) {
        #headImg{
          height: 130px !important;
        }
    }
    @media only screen and (max-width: 450px) {
        #headImg{
          height: 110px !important;
        }
    }
    @media only screen and (max-width: 380px) {
        #headImg{
          height: 90px !important;
        }
    }


  </style>
</head>


<body>
  <%- include('../partials/navbar'); %>
  <div id="scroller__body" class="h-[100svh] w-full overflow-y-auto overflow-x-hidden hide-scrollbar">
    <img src="/assets/images/svg/temp.svg" class="absolute inset-0 h-full w-full object-cover -z-10 scale-90 opacity-15 blur-[1px]" alt="">

    <section id="page1" class="bg-black-light pt-24 flex flex-col justify-center items-center gap-y-1 pb-10">
      <!-- <h1 class="text-white font-semibold" style="font-size: clamp(3.5rem,6vw + 1rem,5rem);line-height: clamp(3.5rem,6vw + 1rem,5rem)">UPES SPE FEST 2024</h1>
          <h2 class="text-white opacity-80 font-overpass text-lg">Fostering Innovation and excellence</h2> -->
      <!-- <img src="/assets/images/svg/festlogo.svg" alt=""> -->
      <svg id="headImg" width="523" height="158" viewBox="0 0 523 158" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M189.3 64.5C201.7 64.5 209.2 57.4 209.2 43.8V17.1H202.7V43.5C202.7 53.9 197.9 58.6 189.4 58.6C181 58.6 176.2 53.9 176.2 43.5V17.1H169.5V43.8C169.5 57.4 177 64.5 189.3 64.5ZM244.4 17.1H226.1V64H232.8V49.8H244.4C256.5 49.8 263.9 43.6 263.9 33.4C263.9 23.3 256.5 17.1 244.4 17.1ZM244.2 44H232.8V22.9H244.2C252.7 22.9 257.2 26.7 257.2 33.4C257.2 40.1 252.7 44 244.2 44ZM283.6 58.2V43H307.1V37.3H283.6V22.9H310V17.1H276.9V64H311V58.2H283.6ZM338.6 64.5C351 64.5 356.7 58.4 356.7 51.2C356.7 34 328.3 41.2 328.3 29.7C328.3 25.6 331.7 22.3 339.7 22.3C343.9 22.3 348.5 23.5 352.6 26.1L354.8 20.7C350.9 18 345.2 16.6 339.7 16.6C327.4 16.6 321.7 22.7 321.7 30C321.7 47.4 350.1 40.1 350.1 51.6C350.1 55.7 346.7 58.8 338.6 58.8C332.5 58.8 326.6 56.6 323.1 53.4L320.6 58.6C324.4 62.1 331.4 64.5 338.6 64.5ZM404.5 64.5C416.9 64.5 422.6 58.4 422.6 51.2C422.6 34 394.2 41.2 394.2 29.7C394.2 25.6 397.7 22.3 405.6 22.3C409.8 22.3 414.4 23.5 418.5 26.1L420.7 20.7C416.8 18 411.1 16.6 405.6 16.6C393.3 16.6 387.7 22.7 387.7 30C387.7 47.4 416.1 40.1 416.1 51.6C416.1 55.7 412.6 58.8 404.5 58.8C398.5 58.8 392.5 56.6 389 53.4L386.5 58.6C390.3 62.1 397.3 64.5 404.5 64.5ZM453.9 17.1H435.6V64H442.3V49.8H453.9C466.1 49.8 473.4 43.6 473.4 33.4C473.4 23.3 466.1 17.1 453.9 17.1ZM453.7 44H442.3V22.9H453.7C462.2 22.9 466.7 26.7 466.7 33.4C466.7 40.1 462.2 44 453.7 44ZM493.1 58.2V43H516.6V37.3H493.1V22.9H519.5V17.1H486.4V64H520.5V58.2H493.1ZM203.8 87.8V79.0999H168.3V126H179.2V108.9H200.9V100.2H179.2V87.8H203.8ZM221.9 117.3V106.4H243.7V98H221.9V87.8H246.6V79.0999H211.1V126H247.5V117.3H221.9ZM271.4 126.8C284.8 126.8 291.3 120.1 291.3 112.3C291.3 95 264.1 101 264.1 92.4C264.1 89.4 266.5 87 273 87C277.1 87 281.6 88.2 286 90.7L289.3 82.5C285 79.7 278.9 78.3 273 78.3C259.7 78.3 253.3 84.9 253.3 92.9C253.3 110.3 280.5 104.3 280.5 113.1C280.5 116 277.9 118.1 271.5 118.1C265.9 118.1 260 116.1 256 113.2L252.3 121.4C256.5 124.6 264 126.8 271.4 126.8ZM307.8 126H318.7V87.9H333.7V79.0999H292.8V87.9H307.8V126ZM370.4 117.2L381.2 107C387.7 100.9 389 96.8 389 92.2C389 83.7 382 78.3 371.6 78.3C363.2 78.3 356.6 81.8 353 87L360.9 92.0999C363.2 88.9999 366.6 87.5 370.6 87.5C375.5 87.5 378.1 89.6 378.1 93.3C378.1 95.6 377.4 98 373.2 101.9L355.1 119V126H390.6V117.2H370.4ZM415 126.8C426.6 126.8 435.1 118.1 435.1 102.6C435.1 87.0999 426.6 78.3 415 78.3C403.5 78.3 394.9 87.0999 394.9 102.6C394.9 118.1 403.5 126.8 415 126.8ZM415 117.7C409.6 117.7 405.9 113.2 405.9 102.6C405.9 91.8999 409.6 87.5 415 87.5C420.4 87.5 424.2 91.8999 424.2 102.6C424.2 113.2 420.4 117.7 415 117.7ZM454.8 117.2L465.6 107C472.2 100.9 473.5 96.8 473.5 92.2C473.5 83.7 466.5 78.3 456.1 78.3C447.6 78.3 441 81.8 437.4 87L445.3 92.0999C447.6 88.9999 451 87.5 455 87.5C460 87.5 462.5 89.6 462.5 93.3C462.5 95.6 461.8 98 457.7 101.9L439.6 119V126H475V117.2H454.8ZM521.7 107.4H514.1V98.5999H503.9V107.4H491.3L511.8 79.0999H500.4L478.3 108.9V116.2H503.5V126H514.1V116.2H521.7V107.4ZM176.7 137.3V135.2H168.5V146.1H171V142.1H176V140.1H171V137.3H176.7ZM183.6 146.3C187 146.3 189.5 143.9 189.5 140.7C189.5 137.4 187 135.1 183.6 135.1C180.1 135.1 177.6 137.4 177.6 140.7C177.6 143.9 180.1 146.3 183.6 146.3ZM183.6 144.1C181.6 144.1 180.2 142.7 180.2 140.7C180.2 138.6 181.6 137.2 183.6 137.2C185.5 137.2 187 138.6 187 140.7C187 142.7 185.5 144.1 183.6 144.1ZM195 146.3C198.1 146.3 199.6 144.7 199.6 142.9C199.6 138.9 193.3 140.3 193.3 138.3C193.3 137.6 193.8 137.1 195.3 137.1C196.3 137.1 197.3 137.3 198.3 137.9L199.1 136C198.1 135.4 196.7 135.1 195.3 135.1C192.3 135.1 190.8 136.6 190.8 138.4C190.8 142.5 197.1 141.1 197.1 143.1C197.1 143.8 196.5 144.3 195 144.3C193.7 144.3 192.3 143.8 191.4 143.1L190.6 145C191.5 145.8 193.2 146.3 195 146.3ZM203.4 146.1H205.9V137.3H209.4V135.2H199.9V137.3H203.4V146.1ZM213.2 144.1V141.6H218.3V139.6H213.2V137.2H218.9V135.2H210.7V146.1H219.1V144.1H213.2ZM230.8 146.1L228.3 142.6C229.8 142 230.6 140.8 230.6 139.2C230.6 136.7 228.8 135.2 225.9 135.2H221.2V146.1H223.7V143.1H225.9H226L228.1 146.1H230.8ZM228 139.2C228 140.3 227.3 141.1 225.7 141.1H223.7V137.3H225.7C227.3 137.3 228 138 228 139.2ZM232.6 146.1H235.1V135.2H232.6V146.1ZM245.2 135.3V141.9L239.8 135.3H237.7V146.1H240.2V139.5L245.6 146.1H247.6V135.3H245.2ZM257.6 143.7C257 144.1 256.4 144.2 255.7 144.2C253.6 144.2 252.2 142.7 252.2 140.7C252.2 138.6 253.6 137.2 255.7 137.2C256.8 137.2 257.7 137.6 258.5 138.5L260.1 137C259.1 135.7 257.5 135.1 255.6 135.1C252.1 135.1 249.6 137.4 249.6 140.7C249.6 144 252.1 146.3 255.5 146.3C257.1 146.3 258.7 145.8 259.9 144.9V140.5H257.6V143.7ZM266.7 146.2H269.2V135.3H266.7V146.2ZM279.2 135.4V141.9L273.8 135.4H271.8V146.2H274.2V139.6L279.7 146.2H281.7V135.4H279.2ZM291.8 135.4V141.9L286.4 135.4H284.3V146.2H286.8V139.6L292.2 146.2H294.2V135.4H291.8ZM302.2 146.4C305.6 146.4 308.1 144 308.1 140.8C308.1 137.5 305.6 135.2 302.2 135.2C298.7 135.2 296.2 137.6 296.2 140.8C296.2 144 298.7 146.4 302.2 146.4ZM302.2 144.3C300.2 144.3 298.8 142.8 298.8 140.8C298.8 138.7 300.2 137.3 302.2 137.3C304.1 137.3 305.6 138.7 305.6 140.8C305.6 142.8 304.1 144.3 302.2 144.3ZM317.6 135.4L314.2 143.1L310.9 135.4H308.2L312.9 146.2H315.4L320.1 135.4H317.6ZM328.7 146.2H331.4L326.5 135.4H324L319.2 146.2H321.8L322.7 143.9H327.8L328.7 146.2ZM323.5 141.9L325.2 137.8L326.9 141.9H323.5ZM334.2 146.2H336.7V137.4H340.2V135.3H330.7V137.4H334.2V146.2ZM341.6 146.2H344.1V135.3H341.6V146.2ZM351.9 146.4C355.3 146.4 357.8 144 357.8 140.8C357.8 137.6 355.3 135.2 351.9 135.2C348.5 135.2 346 137.6 346 140.8C346 144 348.5 146.4 351.9 146.4ZM351.9 144.3C350 144.3 348.5 142.9 348.5 140.8C348.5 138.7 350 137.3 351.9 137.3C353.8 137.3 355.3 138.7 355.3 140.8C355.3 142.9 353.8 144.3 351.9 144.3ZM367.2 135.4V142L361.8 135.4H359.7V146.2H362.2V139.6L367.6 146.2H369.7V135.4H367.2ZM384.8 146.2H387.4L382.6 135.4H380.1L375.2 146.2H377.8L378.8 143.9H383.8L384.8 146.2ZM379.6 142L381.3 137.8L383.1 142H379.6ZM396 135.4V141.9L390.6 135.4H388.5V146.2H391V139.6L396.4 146.2H398.5V135.4H396ZM401.1 146.2H406C409.5 146.2 412 144.1 412 140.8C412 137.5 409.5 135.4 406 135.4H401.1V146.2ZM403.6 144.1V137.4H405.9C408 137.4 409.4 138.7 409.4 140.7C409.4 142.8 408 144.1 405.9 144.1H403.6ZM420.8 144.1V141.6H425.8V139.7H420.8V137.3H426.5V135.3H418.3V146.2H426.7V144.1H420.8ZM438.3 146.2L434.3 140.5L438.1 135.3H435.3L432.9 138.8L430.4 135.3H427.5L431.4 140.6L427.3 146.2H430.2L432.8 142.4L435.4 146.2H438.3ZM444.5 146.3C446.4 146.3 447.9 145.7 449 144.4L447.3 142.9C446.6 143.8 445.7 144.2 444.6 144.2C442.6 144.2 441.1 142.8 441.1 140.7C441.1 138.7 442.6 137.3 444.6 137.3C445.7 137.3 446.6 137.7 447.3 138.5L449 137C447.9 135.8 446.4 135.1 444.5 135.1C441.1 135.1 438.6 137.5 438.6 140.7C438.6 144 441.1 146.3 444.5 146.3ZM453.2 144.1V141.6H458.2V139.7H453.2V137.3H458.9V135.3H450.7V146.2H459.1V144.1H453.2ZM461.1 146.2H469V144.1H463.6V135.3H461.1V146.2ZM470.5 146.2H478.4V144.2H473V135.4H470.5V146.2ZM482.3 144.1V141.6H487.4V139.7H482.3V137.3H488V135.3H479.8V146.2H488.2V144.1H482.3ZM497.7 135.3V141.9L492.3 135.3H490.3V146.2H492.7V139.6L498.1 146.2H500.2V135.3H497.7ZM508 146.3C509.9 146.3 511.4 145.7 512.4 144.4L510.8 142.9C510.1 143.8 509.2 144.2 508.1 144.2C506.1 144.2 504.6 142.8 504.6 140.7C504.6 138.7 506.1 137.3 508.1 137.3C509.2 137.3 510.1 137.7 510.8 138.5L512.4 137C511.4 135.8 509.9 135.1 508 135.1C504.6 135.1 502.1 137.5 502.1 140.7C502.1 144 504.6 146.3 508 146.3ZM516.7 144.1V141.6H521.7V139.7H516.7V137.3H522.4V135.3H514.2V146.2H522.6V144.1H516.7Z" fill="#142884"/>
        <g>
        <path d="M90.8 1.39996C81.3 -1.20004 73.5 3.29997 71.4 4.59997C66.1 7.89997 63.5 12.3 62.4 14.1C52.3 31.6 64.7 43.2 65.2 43C65.6 42.8 68 32.9 78.4 25.6C88.7 18.3 87.5 9.69997 87.5 9.69997C87.5 9.69997 105.2 22.3 89.2 40.1C73.2 58 72.2 63.6999 76.3 77.0999C78.3 68.4999 81.7 63.4 84.6 60.4C87 57.8 90.1 55.4999 96 49.2999C97.4 47.8999 98.9 46.2 100 44.9C101.8 42.8 111.5 30.9 107.6 17.7C105.3 10.1 98.9 3.59996 90.8 1.39996Z" fill="url(#paint0_linear_8_3)"/>
        <path d="M70.9 60.2C70.9 60.2 71 53.0999 82.5 41.7999C94 30.4999 95.5 25.2 89.3 14.7C89.3 14.7 88.2 21.5999 82 27.0999C75.8 32.4999 67.8 37.8999 67.7 47.0999C67.6 56.2999 70.9 60.2 70.9 60.2Z" fill="url(#paint1_linear_8_3)"/>
        <path d="M150.9 53.4999C148.5 43.8999 140.9 39.1999 138.7 37.9999C133.2 34.9999 128.1 34.7999 126 34.7999C105.8 34.3999 101.6 50.8999 102 51.1999C102.4 51.3999 112.2 48.7999 123.6 54.2999C135.1 59.8999 142 54.5999 142 54.5999C142 54.5999 139.5 76.1999 116.2 70.7999C92.8 65.3999 87.3 67.2999 77.5 77.3999C86.1 74.8999 92.2 75.4999 96.2 76.5999C99.6 77.4999 103.1 79.0999 111.4 81.1999C113.3 81.6999 115.5 82.2999 117.2 82.5999C119.9 83.0999 135 85.8999 144.7 76.0999C150.3 70.3999 152.8 61.5999 150.9 53.4999Z" fill="url(#paint2_linear_8_3)"/>
        <path d="M89.8 64.4998C89.8 64.4998 96.0001 61.1998 111.5 65.7998C126.9 70.3998 132.3 69.0999 138.5 58.5999C138.5 58.5999 131.9 60.8999 124.1 58.1999C116.4 55.3999 107.8 50.9998 99.6001 55.2998C91.5001 59.6998 89.8 64.4998 89.8 64.4998Z" fill="url(#paint3_linear_8_3)"/>
        <path d="M135.4 131.5C142.5 124.6 142.7 115.7 142.7 113.2C142.6 106.9 140.1 102.4 139.1 100.6C129.3 82.9 113 87.6 112.9 88C112.9 88.5 120.1 95.7 121.1 108.3C122 121 130 124.3 130 124.3C130 124.3 110.1 133.1 103 110.1C96 87.2 91.6 83.4 77.9 80C84.4 86.2 86.9 91.7 88 95.7C89 99.1 89.3 103 91.6 111.2C92.2 113.1 92.8 115.3 93.4 116.9C94.3 119.6 99.4 134 112.7 137.5C120.5 139.4 129.3 137.3 135.4 131.5Z" fill="url(#paint4_linear_8_3)"/>
        <path d="M95.3 84.1C95.3 84.1 101.3 87.9 105 103.6C108.8 119.2 112.6 123.2 124.8 123.3C124.8 123.3 119.5 118.8 118 110.7C116.4 102.6 116 92.9 108.1 88.1C100.3 83.2 95.3 84.1 95.3 84.1Z" fill="url(#paint5_linear_8_3)"/>
        <path d="M58.8 157C68.2 159.8 76.1 155.6 78.3 154.3C83.6 151.1 86.4 146.8 87.5 145C98 127.8 85.9 115.8 85.5 116C85 116.2 82.4 126 71.8 133.1C61.3 140.2 62.3 148.8 62.3 148.8C62.3 148.8 44.9 135.8 61.4 118.3C77.9 100.9 79 95.2 75.2 81.6C73 90.2 69.4 95.2 66.5 98.1C64 100.6 60.8 102.9 54.8 108.9C53.4 110.4 51.8 112 50.7 113.2C48.9 115.3 38.8 126.9 42.4 140.2C44.5 148 50.7 154.6 58.8 157Z" fill="url(#paint6_linear_8_3)"/>
        <path d="M80.2 98.7C80.2 98.7 79.8 105.8 68.1 116.8C56.3 127.8 54.7 133.1 60.6 143.7C60.6 143.7 61.9 136.9 68.2 131.6C74.5 126.3 82.7 121.1 83.1 111.9C83.4 102.7 80.2 98.7 80.2 98.7Z" fill="url(#paint7_linear_8_3)"/>
        <path d="M15.8 27C8.79997 33.9 8.79997 42.9 8.89997 45.4C9.19997 51.6 11.7 56.1 12.8 57.9C23 75.4 39.2 70.3 39.2 69.9C39.3 69.4 31.9 62.3999 30.7 49.7999C29.4 37.0999 21.3 34 21.3 34C21.3 34 41.1 24.8 48.6 47.6C56.2 70.4 60.7 74.0999 74.4 77.0999C67.8 71.0999 65.2 65.6 64 61.6C62.9 58.2 62.5 54.4 60 46.2C59.4 44.3 58.8 42.2 58.2 40.6C57.2 37.9 51.7 23.6 38.3 20.5C30.5 18.6 21.7 21 15.8 27Z" fill="url(#paint8_linear_8_3)"/>
        <path d="M57 73.4C57 73.4 50.9 69.8001 46.8 54.2001C42.7 38.6 38.8 34.7 26.6 34.9C26.6 34.9 32 39.3 33.7 47.3C35.4 55.4 36.1 65.1001 44 69.7001C52 74.4001 57 73.4 57 73.4Z" fill="url(#paint9_linear_8_3)"/>
        <path d="M1.00001 103.1C3.20001 112.8 10.9 117.5 13 118.7C18.5 121.8 23.6 121.9 25.7 122C45.9 122.5 50.2 106 49.8 105.8C49.4 105.5 39.6 108.1 28.2 102.5C16.8 96.9 9.8 102.1 9.8 102.1C9.8 102.1 12.4 80.5 35.8 86.1C59.1 91.6 64.6 89.8 74.4 79.7C65.9 82.1 59.8 81.5 55.8 80.4C52.4 79.5 48.8 77.9 40.6 75.7C38.6 75.2 36.5 74.6 34.8 74.3C32 73.7 17 70.8 7.3 80.6C1.6 86.3 -0.999988 95 1.00001 103.1Z" fill="url(#paint10_linear_8_3)"/>
        <path d="M62.1 92.6C62.1 92.6 55.8 95.8 40.4 91.1C25 86.4 19.6 87.7 13.4 98.1C13.4 98.1 20 95.8 27.7 98.6C35.5 101.4 44 105.9 52.2 101.6C60.3 97.3 62.1 92.6 62.1 92.6Z" fill="url(#paint11_linear_8_3)"/>
        <g>
        <defs>
        <linearGradient id="paint0_linear_8_3" x1="24.287" y1="82.8779" x2="25.3728" y2="-44.291" gradientUnits="userSpaceOnUse">
        <stop stop-color="white"/>
        <stop offset="0.604" stop-color="#2F3086"/>
        <stop offset="0.909" stop-color="#5B2B7A"/>
        <stop offset="1" stop-color="#FEFEFE"/>
        </linearGradient>
        <linearGradient id="paint1_linear_8_3" x1="44.458" y1="89.949" x2="27.377" y2="57.581" gradientUnits="userSpaceOnUse">
        <stop stop-color="white"/>
        <stop offset="0.669" stop-color="#F89F1B"/>
        <stop offset="1" stop-color="#F89F1B"/>
        </linearGradient>
        <linearGradient id="paint2_linear_8_3" x1="47.376" y1="34.6199" x2="159.25" y2="-25.8554" gradientUnits="userSpaceOnUse">
        <stop stop-color="white"/>
        <stop offset="0.604" stop-color="#2F3086"/>
        <stop offset="0.909" stop-color="#5B2B7A"/>
        <stop offset="1" stop-color="#FEFEFE"/>
        </linearGradient>
        <linearGradient id="paint3_linear_8_3" x1="50.929" y1="55.6978" x2="71.02" y2="25.1068" gradientUnits="userSpaceOnUse">
        <stop stop-color="white"/>
        <stop offset="0.669" stop-color="#F89F1B"/>
        <stop offset="1" stop-color="#F89F1B"/>
        </linearGradient>
        <linearGradient id="paint4_linear_8_3" x1="99.85" y1="32.47" x2="208.27" y2="98.9396" gradientUnits="userSpaceOnUse">
        <stop stop-color="white"/>
        <stop offset="0.604" stop-color="#2F3086"/>
        <stop offset="0.909" stop-color="#5B2B7A"/>
        <stop offset="1" stop-color="#FEFEFE"/>
        </linearGradient>
        <linearGradient id="paint5_linear_8_3" x1="83.396" y1="46.113" x2="119.937" y2="48.1564" gradientUnits="userSpaceOnUse">
        <stop stop-color="white"/>
        <stop offset="0.669" stop-color="#F89F1B"/>
        <stop offset="1" stop-color="#F89F1B"/>
        </linearGradient>
        <linearGradient id="paint6_linear_8_3" x1="127.36" y1="77.24" x2="122.995" y2="204.339" gradientUnits="userSpaceOnUse">
        <stop stop-color="white"/>
        <stop offset="0.604" stop-color="#2F3086"/>
        <stop offset="0.909" stop-color="#5B2B7A"/>
        <stop offset="1" stop-color="#FEFEFE"/>
        </linearGradient>
        <linearGradient id="paint7_linear_8_3" x1="107.377" y1="69.652" x2="123.618" y2="102.449" gradientUnits="userSpaceOnUse">
        <stop stop-color="white"/>
        <stop offset="0.669" stop-color="#F89F1B"/>
        <stop offset="1" stop-color="#F89F1B"/>
        </linearGradient>
        <linearGradient id="paint8_linear_8_3" x1="53.564" y1="125.133" x2="-56.3238" y2="61.1176" gradientUnits="userSpaceOnUse">
        <stop stop-color="white"/>
        <stop offset="0.604" stop-color="#2F3086"/>
        <stop offset="0.909" stop-color="#5B2B7A"/>
        <stop offset="1" stop-color="#FEFEFE"/>
        </linearGradient>
        <linearGradient id="paint9_linear_8_3" x1="69.708" y1="111.124" x2="33.13" y2="109.903" gradientUnits="userSpaceOnUse">
        <stop stop-color="white"/>
        <stop offset="0.669" stop-color="#F89F1B"/>
        <stop offset="1" stop-color="#F89F1B"/>
        </linearGradient>
        <linearGradient id="paint10_linear_8_3" x1="104.321" y1="122.634" x2="-7.90226" y2="182.459" gradientUnits="userSpaceOnUse">
        <stop stop-color="white"/>
        <stop offset="0.604" stop-color="#2F3086"/>
        <stop offset="0.909" stop-color="#5B2B7A"/>
        <stop offset="1" stop-color="#FEFEFE"/>
        </linearGradient>
        <linearGradient id="paint11_linear_8_3" x1="100.891" y1="101.536" x2="80.6231" y2="132.01" gradientUnits="userSpaceOnUse">
        <stop stop-color="white"/>
        <stop offset="0.669" stop-color="#F89F1B"/>
        <stop offset="1" stop-color="#F89F1B"/>
        </linearGradient>
        </defs>
        </svg>
        
    </section>
    <section id="fest"
      class="relative mt-16 flex justify-evenly items-center flex-wrap gap-x-6 gap-y-16 w-11/12 mx-auto">
      <div class="flex flex-col gap-y-6">
        <p class="text-lg text-justify">
          With great pride, UPES SPE Student Chapter presents UPES SPE Fest 2024, a trip down that will both repeat the
          resonance of the past triumphs and foresee a future drawn with innovation.
          <br>We are committed to keeping up our purpose of creating an experience that enhances the spirit of a vibrant
          community through unflinching dedication. This year, the Chapter will be conducting its 14th iteration of an
          outstanding technical extravaganza with boundless enthusiasm, with the theme of “Fostering Innovation and
          Excellence”.
          <br><br>The Fest will represent the unwavering quest of knowledge as well as provide a forum for young people to
          engage in intellectual growth and exchange. The purpose of this edition is to facilitate an insightful
          discussion on exploring sustainable practices and green horizons in the oil and gas industry.
          <br>Moreover, it would provide a holistic gateway for participants to gain profound understanding into the
          intricacies of the energy industry. Through a blend of competitions, workshops, and interactions with industry
          stalwarts, attendees will delve into the core of technological advancements, and future prospects within the
          energy sector.
          <br><br>Esteemed professionals from the Oil and Gas Industry are to grace our event, sharing their invaluable
          experiences and insights. This interaction will inspire and thrust the participants into the cutting-edge of
          energy intelligence and create potential career paths. Let us unfold this section of our legacy, that exceeds
          boundaries, where visions converge, and aspirations take flight.
        </p>
        <a href="https://drive.google.com/file/d/13n7POJGKOiIy8xqC9myo1gWpYTMTaoc9/view?usp=drive_link"
          class="border bg-white font-semibold border-black hover:text-white hover:bg-purple-400 rounded font-overpass flex justify-center items-center px-4 py-2 w-fit gap-x-1 mx-auto">
          FEST Brochure
          <img src="/assets/images/svg/arrow-up-right.svg" class="h-6 w-auto" alt="">
        </a>
        <div class="w-fit flex flex-col gap-y-3 justify-start items-center border-2 border-slate-800 px-4 py-3 rounded-md bg-white bg-opacity-10 backdrop-filter backdrop-blur-lg mx-auto">
          <p class="text-center font-bold text-2xl col-span-2 w-full">Registration</p>
          <div class="flex gap-12 justify-between items-center">
            <p class="text-lg">National Students</p>
            <a href="https://drive.google.com/file/d/13n7POJGKOiIy8xqC9myo1gWpYTMTaoc9/view?usp=drive_link"
              class="border bg-white font-semibold border-black hover:text-white hover:bg-purple-400 rounded font-overpass flex justify-center items-center px-4 py-2 w-fit gap-x-1 mx-auto">
              Apply
            </a>
          </div>
        </div>
      </div>
    </section>
    <%- include('../partials/footer'); %>
  </div>
</body>

</html>