<!DOCTYPE html>
<html lang="en" class="hide-scrollbar">

<head>
    <%- include('../partials/header'); %>
    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/lib/splide.css">
    <link rel="stylesheet" href="/assets/css/lib/flipdown.css">
    <link rel="stylesheet" href="/assets/css/home.css">
    <!-- JS -->
    <script src="/assets/js/lib/splide.js" defer></script>
    <script src="/assets/js/lib/flipdown.js" defer></script>
    <script src="/assets/js/home.js" defer></script>
</head>

<body>
    <%- include('../partials/navbar'); %>
    <div id="scroller__body" class="h-[100svh] w-full overflow-y-auto overflow-x-hidden hide-scrollbar">
        <section id="page1" class="relative h-[100svh] -z-10 flex items-center">
            <img class="absolute inset-0 h-full w-full object-cover -z-10" src="/assets/images/mainBg.png">
            <div
                class="w-full pt-[6.5rem] font-montserrat flex flex-col gap-y-9 justify-center items-center text-white">
                <div class="flex flex-col justify-center items-center gap-0">
                    <h1 class="font-bold"
                        style="font-size: clamp(3.5rem,10vw + 1rem,9rem);line-height: clamp(3.5rem,10vw + 1rem,9rem)">
                        UPES SPE</h1>
                    <p class="font-extralight" style="font-size: clamp(0.5rem,0.5rem + 3vw,1.5rem);">STUDENT CHAPTER</p>
                </div>
                <p class="font-semibold text-2xl text-center">OUR CHAPTER | OUR WORK | OUR LEGACY</p>
                <div
                    class="font-bold font-overpass flex gap-y-4 flex-wrap justify-center items-center mt-2 mx-4">
                    <div class="flex flex-col justify-center items-center gap-4">
                      <div id="flipdown" class="flipdown"></div>
                      <a href="#" class="border px-4 py-2 rounded ">Left for UPES SPE Fest</a>
                    </div>
                    <!-- <a href="#" class="px-4 py-2 rounded bg-white text-main-color-dark">Become A Member</a> -->
                </div>
            </div>
        </section>
        <section id="about" class="relative flex flex-col md-s:flex-row min-h-[50svh] items-stretch">
            <img src="/assets/images/pattern-1.png" class="absolute top-0 left-0 -z-10" alt="">
            <img src="/assets/images/pattern-2.png" class="absolute bottom-0 right-0 translate-y-1/2 -z-10" alt="">
            <h1 class="md-s:hidden text-5xl text-center mt-12 mb-10 font-bold text-main-color-light">ABOUT US</h1>
            <div class="flex-1 basis-2/5 flex justify-center items-center">
                <img src="/assets/images/about.png" class="w-auto object-contain yarsm-l:pl-4" style="height:clamp(18rem, 30cqw,24rem)" alt="">
            </div>
            <div class="flex-1 basis-3/5 flex flex-col items-center gap-y-12 pt-6 md-s:pt-16">
                <h1 class="hidden text-5xl md-s:inline-block font-bold text-main-color-light">ABOUT US</h1>
                <div class="text-[#092E6E] flex-1 px-4 flex items-center" style="line-height: 31px; word-spacing: 1px;">
                    <p>
                      The Chapter is a non-profit, technical student organization seeking to promote the propagation of invaluable erudition concerning the Oil and Gas Industry. The Chapter conducts a plethora of events throughout the academic year. Each event seeks to provide a unique opportunity for budding future professionals to augment their caliber, thereby, staying true to our motto of “Enhancing Competence”. <br>At UPES, we extend the core values of SPE International to all the students of the concerned branches. SPE, for students, bridges the gap that exists between the Industry and Academia. Our work at UPES SPE Student Chapter is in line with the vision of SPE International which is to enable the global Oil and Gas E&P Industry to share technical knowledge needed to meet the world’s energy needs in a safe and environmentally responsible manner. <br>We at UPES SPE work to extend our limits at every step and achieve greater heights, whether it is industrial connect or student talent enhancement. We understand the simple fact that academics are necessary but not everything, thus we provide those extra opportunities for growth which will assist in each and every aspect. We believe that growth of a person is not limited to books, laptops etc. but believe that if someone is determined, sky is the limit!  Our toil has given extraordinary returns and we have received the Presidential Award for Outstanding Student Chapter for seven times in a row consecutively, and received the Gold Standard Award for three consecutive years prior to that, all the time aiming to Enhance Competence and prove that if dreams meet determination and hard work, the outcome is indeed majestic!  
                    </p>
                </div>
            </div>
        </section>
        <section id="about" class="relative mt-16">
            <section class="splide" aria-label="Splide Basic HTML Example">
                <div class="splide__track">
                      <ul class="splide__list">
                          <li class="splide__slide">
                            <img src="/assets/images/demo-1.png" alt="">
                          </li>
                          <li class="splide__slide">
                            <img src="/assets/images/demo-1.png" alt="">
                          </li>
                          <li class="splide__slide">
                            <img src="/assets/images/demo-1.png" alt="">
                          </li>
                          <li class="splide__slide">
                            <img src="/assets/images/demo-1.png" alt="">
                          </li>
                          <li class="splide__slide">
                            <img src="/assets/images/demo-1.png" alt="">
                          </li>
                          <li class="splide__slide">
                            <img src="/assets/images/demo-1.png" alt="">
                          </li>
                          <li class="splide__slide">
                            <img src="/assets/images/demo-1.png" alt="">
                          </li>
                      </ul>
                </div>
              </section>
              <a href="/events" class="border border-black rounded font-overpass flex justify-center items-center px-4 py-2 w-fit gap-x-2 mx-auto mt-6">
                Discover More
                <img src="/assets/images/svg/arrow.svg" class="h-4 w-auto" alt="">                 
              </a>
        </section>
        <%- include('../partials/footer'); %>
    </div>
</body>

</html>