<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header'); %>
</head>
<body>
    <%- include('../partials/navbar'); %>
    <div class="bg-slate-700">
        hellow
    </div>
    <%- include('../partials/footer'); %>
</body>
</html>