<!DOCTYPE html>
<html lang="en" class="hide-scrollbar">

<head>
    <%- include('../partials/header'); %>
    <!-- CSS -->
    <!-- <link rel="stylesheet" href="/assets/css/lib/splide.css"> -->
    <link rel="stylesheet" href="/assets/css/team.css">
    <!-- JS -->
    <!-- <script src="/assets/js/lib/splide.js" defer></script> -->
    <script src="/assets/js/teams.js" defer></script>
</head>

<body>
    <%- include('../partials/navbar'); %>
    <div id="scroller__body" class="h-[100svh] w-full overflow-y-auto overflow-x-hidden hide-scrollbar">
      <img src="/assets/images/svg/texture-1.svg" class="absolute inset-0 h-full w-full object-cover -z-10 opacity-20" alt="">
        <section id="page1" class="bg-black-light pt-24 flex justify-center items-center">
          <h1 class="text-white font-semibold" style="font-size: clamp(3.5rem,6vw + 1rem,5rem)">Our Team</h1>
        </section>
        <section id="contact" class="relative mt-16 flex justify-evenly items-center flex-wrap gap-x-6 w-11/12 mx-auto">
          <h1 class="basis-full text-center text-4xl font-bold font-overpass underline underline-offset-4 text-black-light">Executive Board</h1>
          <!-- line 1 -->
          <div class="flex flex-wrap justify-center items-center gap-x-8 gap-y-8 mt-10">
            <div class="card">
              <div class="card__img">
                <img class="object-top" src="https://lh3.googleusercontent.com/drive-viewer/AEYmBYRl662KMg5gyPjz0RVKAlC69i1wdErpVWHQyiJdtbDAifeu2tiI87hqf8UUJwBl95P9bB3CR1ATyF_7sZQnEzwNnJScoA=s1600" alt="">
              </div>
              <div class="card__info">
                <h1>President</h1>
                <h2>Varn Agarwal</h2>
                <div class="card__info__2">
                  <a href="malto:varn3099@gmail.com">
                    <img src="/assets/images/svg/gmail-color.svg" alt="">
                  </a>
                  <a href="https://www.linkedin.com/in/varn-agrawal/">
                    <img src="/assets/images/svg/linkedin-color.svg" alt="">
                  </a>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card__img">
                <img class="object-top" src="https://lh3.googleusercontent.com/drive-viewer/AEYmBYSucsP75KfEUREtjVjmKBTHHCETG9UArRgVmoFaRPzK93DfrL_xM6X65r1AI9ey7laf3GAv-NO_JCinSCbahCX5aicw4g=s1600" alt="">
              </div>
              <div class="card__info">
                <h1>Vice-President</h1>
                <h2>Rounak Dutta</h2>
                <div class="card__info__2">
                  <a href="malto:rounakdutta55@gmail.com">
                    <img src="/assets/images/svg/gmail-color.svg" alt="">
                  </a>
                  <a href="https://www.linkedin.com/in/rounak-dutta-546607202/">
                    <img src="/assets/images/svg/linkedin-color.svg" alt="">
                  </a>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card__img">
                <img class="object-top" src="https://lh3.googleusercontent.com/drive-viewer/AEYmBYSmbjAtMDn5ZR_nPq3GKTkixUDkT2DZjKMighMW43hVoB-eof3CqxIk9_XaB8L2wCMCALX_mjv9PIXERMj8IrHioSSc=s1600" alt="">
              </div>
              <div class="card__info">
                <h1>Chapter Officer</h1>
                <h2>Pratik Raj Kar</h2>
                <div class="card__info__2">
                  <a href="malto:pratikrajkar643@gmail.com">
                    <img src="/assets/images/svg/gmail-color.svg" alt="">
                  </a>
                  <a href="https://www.linkedin.com/in/pratik-raj-kar-9892ba200/">
                    <img src="/assets/images/svg/linkedin-color.svg" alt="">
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!-- Line 2 -->
          <div class="flex flex-wrap justify-center items-center gap-x-8 gap-y-8 mt-28">
            <div class="card">
              <div class="card__img">
                <img class="object-top" src="https://lh3.googleusercontent.com/drive-viewer/AEYmBYTGGzrAp0-VTuWFDS-RqVAponKHPkq0luoT2zf-W-vDePSU9mMh-srrnf3_JDuPWdHgzcdq6gptiKjM5F2mr4DqjS1N=s1600" alt="">
              </div>
              <div class="card__info">
                <h1>Nominations Head </h1>
                <h2>Aryan Singh</h2>
                <div class="card__info__2">
                  <a href="malto:aryansingh9264@gmail.com">
                    <img src="/assets/images/svg/gmail-color.svg" alt="">
                  </a>
                  <a href="https://www.linkedin.com/in/aryansingh2808/">
                    <img src="/assets/images/svg/linkedin-color.svg" alt="">
                  </a>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card__img">
                <img class="object-top" src="https://lh3.googleusercontent.com/drive-viewer/AEYmBYTaZ8W2IYri9NcPQAvWv0QIlOXcaWDudxWxo9fnNerCRTte5q6LQDwXQzIWy2UNfbj2SXg_VNLA_8lWIMz38BsVwZEV_A=s1600" alt="">
              </div>
              <div class="card__info">
                <h1>Membership Chairperson</h1>
                <h2>Vaibhav Sharma</h2>
                <div class="card__info__2">
                  <a href="malto:sharmavaibhav292@gmail.com">
                    <img src="/assets/images/svg/gmail-color.svg" alt="">
                  </a>
                  <a href="https://www.linkedin.com/in/vaibhav-sharma-ba5b931b5/">
                    <img src="/assets/images/svg/linkedin-color.svg" alt="">
                  </a>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card__img">
                <img class="object-top" src="https://lh3.googleusercontent.com/drive-viewer/AEYmBYQgRoIDVKOpya9-Md2xOtz5OxJ2lC2sh-AIYdk3XTfCV3IwL3AXgeCTyfwEjzDXdJJzZBzOwseybQQ1xv5sHax05lA0=s1600" alt="">
              </div>
              <div class="card__info">
                <h1>Alumni-Industry Chairperson</h1>
                <h2>Shrestha Nigam</h2>
                <div class="card__info__2">
                  <a href="malto:shresthanigam9@gmail.com">
                    <img src="/assets/images/svg/gmail-color.svg" alt="">
                  </a>
                  <a href="https://www.linkedin.com/in/pratik-raj-kar-9892ba200/">
                    <img src="/assets/images/svg/linkedin-color.svg" alt="">
                  </a>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card__img">
                <img class="object-top" src="https://lh3.googleusercontent.com/drive-viewer/AEYmBYTGrANxVAaDQ2cfc_rBhKdKU1M7RTyolMjuzSmw9yAZq0Zk4MDLP7aDvehYRAZ61BTz0HE7u0SlXvKW4zsDmat3xJh8Kw=s1600" alt="">
              </div>
              <div class="card__info">
                <h1>Secretary</h1>
                <h2>Siddharth Yadav</h2>
                <div class="card__info__2">
                  <a href="malto:siddharthvinarc@gmail.com">
                    <img src="/assets/images/svg/gmail-color.svg" alt="">
                  </a>
                  <a href="https://www.linkedin.com/in/siddharth-yadav-/">
                    <img src="/assets/images/svg/linkedin-color.svg" alt="">
                  </a>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card__img">
                <img class="object-top" src="#" alt="">
              </div>
              <div class="card__info">
                <h1>Treasurer</h1>
                <h2>Vansh Goswami</h2>
                <div class="card__info__2">
                  <a href="malto:500094831@stu.upes.ac.in">
                    <img src="/assets/images/svg/gmail-color.svg" alt="">
                  </a>
                  <a href="https://www.linkedin.com/in/vansh-goswami-151882229/">
                    <img src="/assets/images/svg/linkedin-color.svg" alt="">
                  </a>
                </div>
              </div>
            </div>
          </div>

          <!-- Line 3 -->
          <h1 class="basis-full text-center text-4xl font-bold font-overpass underline underline-offset-4 mt-28 text-black-light">Extended Executive Board</h1>
          <div class="flex flex-wrap justify-center items-center gap-x-8 gap-y-8 mt-10">
            <div class="card">
              <div class="card__img">
                <img class="object-top" src="https://lh3.googleusercontent.com/drive-viewer/AEYmBYRoBONS7c55paKdvIMGj9XqtO9ZW0jXjkDNGpI0GWKG70fXEp0ACmgzuZ4d4XJy18j_k3tdOrm2EgXJIPpNvhN7bGqboA=s1600" alt="">
              </div>
              <div class="card__info">
                <h1>Alumni-Industry Connect Cordinator</h1>
                <h2>Mohammed Ayan </h2>
                <div class="card__info__2">
                  <a href="malto:500096080@stu.upes.ac.in">
                    <img src="/assets/images/svg/gmail-color.svg" alt="">
                  </a>
                  <a href="https://www.linkedin.com/in/mohd-ayan/">
                    <img src="/assets/images/svg/linkedin-color.svg" alt="">
                  </a>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card__img">
                <img class="object-top" src="https://lh3.googleusercontent.com/drive-viewer/AEYmBYRkmkbX8zSrhxGuGvT3o5LSqV-MvQiRcPxMenGWhElQPC_9dYw3c6GKdXe7Axxq2f5HF_rrnkFPFuULEdWRlV3yrr3yUQ=s1600" alt="">
              </div>
              <div class="card__info">
                <h1>Editorial Cordinator</h1>
                <h2>Aditi Chauhan</h2>
                <div class="card__info__2">
                  <a href="malto:aditichauhan1573@gmail.com">
                    <img src="/assets/images/svg/gmail-color.svg" alt="">
                  </a>
                  <a href="https://www.linkedin.com/in/aditi-chauhan-liprofile/">
                    <img src="/assets/images/svg/linkedin-color.svg" alt="">
                  </a>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card__img">
                <img class="object-top" src="https://lh3.googleusercontent.com/drive-viewer/AEYmBYRR0dcynnn414E7gDPcnTml_VrzsiTl1ghwV91SAF8Pjs-V-Y_pnEg1wJgzzND8QQTAonz-6Ovje828jSM5KFvKHnfECg=s1600" alt="">
              </div>
              <div class="card__info">
                <h1>Graphics and Design Cordinator</h1>
                <h2>Garv Katariya</h2>
                <div class="card__info__2">
                  <a href="malto:garv.katariya@gmail.com">
                    <img src="/assets/images/svg/gmail-color.svg" alt="">
                  </a>
                  <a href="https://www.linkedin.com/in/garvkatariya/">
                    <img src="/assets/images/svg/linkedin-color.svg" alt="">
                  </a>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card__img">
                <img class="object-top" src="https://lh3.googleusercontent.com/drive-viewer/AEYmBYQH1lz1DJSfOxN7dOitfyM-deQRDtKhhWMu8aWRJFle1i7sqwz_qlaEuWSrtMBOoZrDw88PfW-duU_faMARk4rkDKmqOw=s1600" alt="">
              </div>
              <div class="card__info">
                <h1>Program Cordinator </h1>
                <h2>Palash Maurya</h2>
                <div class="card__info__2">
                  <a href="malto:palashmaurya111@gmail.com">
                    <img src="/assets/images/svg/gmail-color.svg" alt="">
                  </a>
                  <a href="https://www.linkedin.com/in/palash-maurya-7402bb232/">
                    <img src="/assets/images/svg/linkedin-color.svg" alt="">
                  </a>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card__img">
                <img class="object-top" src="https://lh3.googleusercontent.com/drive-viewer/AEYmBYTkFk2DwmGuWJMDEbKKhPBoOVz4nwlh_gLAp6P0Tm5BIfOI7t7LmltyqaiEog3NpRaJEw-6DCn6jbCzesQjhJVIiBYQrA=s1600" alt="">
              </div>
              <div class="card__info">
                <h1>Pubilicity (online) Cordinator</h1>
                <h2>Aryan Jamwal</h2>
                <div class="card__info__2">
                  <a href="malto:aryanjamwal08@gmail.com">
                    <img src="/assets/images/svg/gmail-color.svg" alt="">
                  </a>
                  <a href="https://www.linkedin.com/in/aryan-jamwal-435875202/">
                    <img src="/assets/images/svg/linkedin-color.svg" alt="">
                  </a>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card__img">
                <img class="object-top" src="#" alt="">
              </div>
              <div class="card__info">
                <h1>Pubilicity (offline) Cordinator</h1>
                <h2>Gayatri Sethia</h2>
                <div class="card__info__2">
                  <a href="malto:500096399@stu.upes.ac.in">
                    <img src="/assets/images/svg/gmail-color.svg" alt="">
                  </a>
                  <a href="https://www.linkedin.com/in/gayatrisethia/">
                    <img src="/assets/images/svg/linkedin-color.svg" alt="">
                  </a>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card__img">
                <img class="object-top" src="https://lh3.googleusercontent.com/drive-viewer/AEYmBYTjjyg1z0h8GdHOLdTSy0gMiPjoYK1I-HDgHKQnvfNktgpt1nw3ryIKn2D8z3UPDLT1Y6Hplzkt8sC_1uYasEXmdepDAw=s1600" alt="">
              </div>
              <div class="card__info">
                <h1>Public Relations Cordinator</h1>
                <h2>Arhana Sen Chouwdhary</h2>
                <div class="card__info__2">
                  <a href="malto:arhanasc02@gmail.com">
                    <img src="/assets/images/svg/gmail-color.svg" alt="">
                  </a>
                  <a href="https://www.linkedin.com/in/arhana-sen-chowdhury-67b563217/">
                    <img src="/assets/images/svg/linkedin-color.svg" alt="">
                  </a>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card__img">
                <img class="object-top" src="#" alt="">
              </div>
              <div class="card__info">
                <h1>Social Head</h1>
                <h2>Uday Bhargav Kondeti</h2>
                <div class="card__info__2">
                  <a href="malto:udaybhargavuk@icloud.com">
                    <img src="/assets/images/svg/gmail-color.svg" alt="">
                  </a>
                  <a href="https://www.linkedin.com/in/kondeti-uday-bhargav-b87707200/">
                    <img src="/assets/images/svg/linkedin-color.svg" alt="">
                  </a>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card__img">
                <img class="object-top" src="https://lh3.googleusercontent.com/drive-viewer/AEYmBYQU0Z_d-W5ZXeD0RC954znRHFlIgeu1HzdEKEvbzbuC1IzXI2m42LLtLPX3MwbxSPad3w7amZHtSSGqSQKWepR7K5MD=s1600" alt="">
              </div>
              <div class="card__info">
                <h1>Environmental Head</h1>
                <h2>Gaurav Bharali</h2>
                <div class="card__info__2">
                  <a href="malto:gauravbharali5635@gmail.com">
                    <img src="/assets/images/svg/gmail-color.svg" alt="">
                  </a>
                  <a href="https://www.linkedin.com/in/gaurav-bharali-0089b5194/">
                    <img src="/assets/images/svg/linkedin-color.svg" alt="">
                  </a>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card__img">
                <img class="object-top" src="https://lh3.googleusercontent.com/drive-viewer/AEYmBYTJpN77OVWD9PeUWRICV8DY-A4Lt-JvWn36dKRKGQsOWOoMVTSlr13bygOMv9-ik62LoODZDctviBrDMbBzrvRKxSfM=s1600" alt="">
              </div>
              <div class="card__info">
                <h1>Technical Head</h1>
                <h2>Tushar Vats</h2>
                <div class="card__info__2">
                  <a href="malto:tusharvats234@gmail.com">
                    <img src="/assets/images/svg/gmail-color.svg" alt="">
                  </a>
                  <a href="https://www.linkedin.com/in/tushaarvats/">
                    <img src="/assets/images/svg/linkedin-color.svg" alt="">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </section>
        <%- include('../partials/footer'); %>
    </div>
</body>

</html>